.chart {
  overflow: hidden;
}

table tr td:nth-child(3) {
  text-align: left;
  width: 40%;
}

table tr td.occur {
  width: 20%;
}

table tr td:not(:nth-child(3)):not(.occur) {
  max-width: 5%;
}

.elemgroup {
  font-size: 1.2em;
  font-weight: bold;
}

/*.mat-cell {
  font-size: 1.02em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-cell.mat-column-description {
  justify-content: normal !important;
  text-align: left !important;
}

.mat-header-cell {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  text-align: center;
}

::ng-deep mat-header-cell,
::ng-deep mat-cell {
  padding: 0 !important;
}

.mat-column-description {
  flex: 0 0 30% !important;
}
.mat-column-quartiles {
  flex: 0 0 20% !important;
}

.mat-cell:not(.mat-column-description),
.mat-cell:not(.mat-column-quartiles),
.mat-header-cell:not(.mat-column-description),
.mat-header-cell:not(.mat-column-quartiles){
  flex: 1 0 10%;
}

.mat-header-cell .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow
{
  opacity: 1 !important;
} */

.mat-header-cell,
.mat-cell:not(.mat-column-quartiles):not(.mat-column-description) {
  font-size: 1em;
}

.mat-cell {
  font-size: 0.9em;
}

.mat-cell:not(.mat-column-quartiles):not(.mat-column-description),
.mat-header-cell:not(.mat-column-quartiles):not(.mat-column-description){
  justify-content: center;
}

.mat-column-description {
  flex: 0 0 25% !important;
}
.mat-column-quartiles {
  flex: 0 0 20% !important;
}

mat-form-field {
  width: 100%;
  position: sticky;
  left: 0;
}

.mat-row:nth-child(2n) {
  background-color: whitesmoke
}

mat-table {
  width: max-content;
  min-width: 100%;
}

[class*="mat-column-"]{
  min-width: 100px !important;
}

.mat-column-description,
.mat-column-quartiles {
  min-width: 120px !important;
}
