<main fxLayout="column" fxLayoutAlign="center center">
  <section>
    <nav fxLayout="row">
      <a href="https://www.acessibilidade.gov.pt/">{{ "HEADER.NAV.location" | translate }}</a>
      <span>></span>
      <a routerLink="/">{{ "HEADER.NAV.observatory" | translate }}</a>
      <span>></span>
      <a [routerLink]="['/', 'directories']">{{ "HEADER.NAV.directories" | translate }}</a>
      <span>></span>
      <a [routerLink]="['/', 'directories', directory.id]">{{ directory.name }}</a>
      <span>></span>
      <span>{{ website.name }}</span>
    </nav>
  </section>
  <section id="main" class="info">
    <div class="observatory">{{ directory.name }}</div>
    <h2>{{ website.name }}</h2>
    <h3><a href="{{ website.domain }}" target="_blank">{{ website.domain }}</a></h3>
  </section>
  <app-website-statistics [website]="website"></app-website-statistics>
  <app-accessibility-plot [data]="accessibilityPlotData"></app-accessibility-plot>
  <app-score-distribution [data]="scoreDistributionData"></app-score-distribution>
  <app-practices-details [website]="website"></app-practices-details>
</main>