<section fxLayout="row" fxLayoutAlign="center center">
  <div class="table-wrapper">
    <h2>{{ "ALL_TAGS.table.title" | translate }}</h2>
    <table matSort matSortActive="rank" matSortDisableClear
      matSortDirection="asc" (matSortChange)="sortData($event)">
      <thead>
        <tr>
          <th mat-sort-header="rank">
            {{ "ALL_TAGS.table.rank" | translate }}
          </th>
          <th class="name" mat-sort-header="name">
            {{ "ALL_TAGS.table.name" | translate }}
          </th>
          <th>
            {{ "ALL_TAGS.table.score" | translate }}
          </th>
          <th>
            {{ "ALL_TAGS.table.websites" | translate }}
          </th>
          <th colspan="3">
            {{ "ALL_TAGS.table.levels" | translate }}
          </th>
        </tr>
        <tr>
          <th colspan="4"></th>
          <th class="aright">
            {{ "ALL_TAGS.table.A" | translate }}
          </th>
          <th>
            {{ "ALL_TAGS.table.AA" | translate }}
          </th>
          <th>
            {{ "ALL_TAGS.table.AAA" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of sortedData">
          <td>{{ tag.rank }}</td>
          <td class="name">
            <a [routerLink]="[tag.id]">{{ tag.name }}</a>
          </td>
          <td>{{ tag.getScore() | toFixed }}</td>
          <td>{{ tag.websites.length }}</td>
          <td>{{ tag.A }}</td>
          <td>{{ tag.AA }}</td>
          <td>{{ tag.AAA }}</td>
        </tr>
      </tbody>
    </table>
    <span class="note">
      {{ "TAG.table.note" | translate }}
    </span>
  </div>
</section>