:host {
  width: 87%;
  background-color: var(--statistics-background);
}

.table-wrapper {
  width: 90%;
  padding: 1em;
}

h2 {
  color: var(--table-title);
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
}

table {
  width: 100%;
  border-spacing: 0;
}

table thead {
  color: var(--table-header-text);
}

table thead tr:first-child {
  background-color: var(--table-header1);
}

table thead tr:last-child {
  background-color: var(--table-header2);
  opacity: 0.9;

  th {
    text-align: right;
    padding-right: 16px;
  }
}

table thead tr th {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  padding: 1em;
}

.aright {
  text-align: right !important;
  padding-left: 0;
}

table thead tr th:nth-child(1),
table thead tr th:nth-child(2) {
  text-align: left;
}

table thead tr th:nth-child(3),
table thead tr th:nth-child(4),
table thead tr th:nth-child(5),
table thead tr th:nth-child(6),
table thead tr th:nth-child(7) {
  text-align: right;
}

::ng-deep .mat-sort-header-stem {
  color: var(--table-header-text);
}

::ng-deep .mat-sort-header-indicator {
  color: var(--table-header-text);
}

.name {
  width: 50%;
}

table tbody tr td {
  border-bottom: thin solid var(--table-border);
}

table tbody tr:hover {
  td {
    background-color: var(--table-hover);

    a {
      text-decoration: underline;
    }
  }
}

table tbody tr td:not(.name) {
  color: var(--table-text);
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 80px;
  text-align: center;
}

td.name a {
  color: var(--table-directory-name);
  text-decoration: none;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 80px;
  text-align: center;
  margin-left: 1em;
}

table tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 16px;
}

table tbody tr td:nth-child(3) {
  font-size: 18px;
  text-align: right;
  padding-right: 16px;
}

table tbody tr td:nth-child(4),
table tbody tr td:nth-child(5),
table tbody tr td:nth-child(6),
table tbody tr td:nth-child(7) {
  text-align: right;
  padding-right: 16px;
}
