<header>
  <section fxLayout="row" fxLayoutAlign="end center">
    <button (click)="toggleLightDarkTheme()">Toggle light/dark theme</button>
  </section>
  <section fxLayout="column" fxLayoutAlign="center center">
    <div class="header_wrapper" fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex.md="87" fxFlex.lg="87" fxFlex.gt-lg="87">
        <div class="observatory_header" fxLayout="row" fxLayoutAlign="space-between center">
          <h1 class="title" fxLayout="column">
            <span>{{ "HEADER.title.part1" | translate }}</span>
            <span>{{ "HEADER.title.part2" | translate }}</span>
          </h1>
          <div class="header_text">
            {{ "HEADER.text" | translate }}
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
