.header_wrapper_1 {
  width: 100%;
  background-color: var(--top-header-background);
}

.header_wrapper {
  width: 100%;
  background-color: var(--header-background);
}

.top_row {
  width: 100%;
  margin: 10px 0px;

  div {
    height: 35px;
    background-color: var(--top-header-background);
    font-size: 1em;
    color: var(--home-header-text-2);
    font-weight: 400;
    font-family: "Lato";

    svg {
      padding-right: 10px;

      path {
        fill: var(--top-header-icon-color);
      }
    }

    a {
      color: var(--top-header-icon-color);
      text-decoration: none;
    }

    .switch {
      border: none;
      background-color: var(--top-header-background);
      color: var(--top-header-icon-color);
      font-size: 1em;
      font-weight: 400;
      font-family: "Lato";
      cursor: pointer;

      svg {
        padding-left: 16px;
        padding-right: 0;

        path {
          fill: var(--top-header-icon-color);
        }
      }
    }
  }
}

.observatory_header {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

.title {
	color: var(--header-title);
  font-family: "Red Hat Display";
  font-size: 26px;
  letter-spacing: 0;
	line-height: 30px;
	
	span:last-child {
		font-weight: initial;
	}
}

.header_text {
	height: 36px;
  width: 522px;
  color: var(--header-text);
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}