<header class="drop_content">
  <mat-toolbar class="sticky_toolbar" fxHide.gt-sm color="primary">
    <mat-toolbar-row>
      <button class="menu-button" mat-icon-button (click)="toggleSideNav()">
        <mat-icon aria-label="Open sidebar menu">menu</mat-icon>
      </button>
      <span class="title" fxFlex>
        <a routerLink="/">
          {{ "HEADER.NAV.home" | translate }}
        </a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider fxHide.gt-sm></mat-divider>
  <div fxHide.lt-md>
    <app-breadcrumbs fxFlex></app-breadcrumbs>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxHide.lt-md>
    <a routerLink="/" routerLinkActive="active" fxLayout="row" fxLayoutAlign="center center">
      <img class="small-logo" src="assets/images/logo.png" alt="{{ 'HEADER.LOGO.alt' | translate }}">
    </a>
  </div>
</header>
<br>
