# URL path where the for the api is hosted and path to the endpoint
VITE_AMP_SERVER="/"
# URL path where the observatory is hosted
VITE_SERVER_URL="/observatory"
# Defines the data source for the observatory API
# Local: "local" gets data from a local JSON file
# Remote: "remote" gets data from a remote server
VITE_API_DATA_SOURCE = ""
