# URL path where the for the api is hosted and path to the endpoint
REACT_APP_AMP_SERVER="/"
# URL path where the observatory is hosted
REACT_APP_SERVER_URL="/observatory"
# Defines the data source for the observatory API
# Local: "local" gets data from a local JSON file
# Remote: "remote" gets data from a remote server
REACT_APP_API_DATA_SOURCE = ""