<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /observatory/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /observatory/index.html [L]
</IfModule>