.table {
    width: 100% !important;
}

.table tr {
    height: 50px;
}

.table tr th {
    color: var(--AMA-Color-Background-White);
    background-color: var(--AMA-Color-Text-Gray) !important;
    font-family: var(--fonte-lato);
    font-size: 16px;
    vertical-align: middle;
}

.table thead tr {
    border-bottom: 1px solid var(--AMA-Color-Text-Gray);
}

.table_primary thead tr:last-child {
    background-color: var(--AMA-Color-Grey-700) !important;
}

.table_primary thead tr:last-child th {
    background-color: transparent !important;
}

.table tr th.first-show i:first-child {
    opacity: 100%;
    font-size: 25px;
}

.table tr th i {
    opacity: 0%;
}

.table tr th:hover {
    cursor: pointer !important;
}

.table tr th.show_icon i {
    opacity: 100%;
}

.table tr th:hover i {
    opacity: 70%;
}

.table button {
    height: auto !important;
}

.table thead tr td {
    vertical-align: middle;
}

.table tbody tr {
    border-bottom: 1px solid var(--AMA-Color-Text-Gray);
}

.table tbody tr:hover {
    background-color: var(--AMA-Color-Background-Light-Darker) !important;
}

.table_primary tbody tr td {
    vertical-align: middle;
    background-color: transparent !important;
}

.table tbody tr td:first-child {
    width: 70px;
    height: 72px;
}

.table_primary tbody tr td:last-child {
    width: 8em;
}

.left {
    text-align: left !important;
    padding-left: 16px !important;
}

.right {
    text-align: right !important;
    padding-right: 16px !important; 
}

.show_icon .table tr th i {
    opacity: 100%;
}

.table tr td i {
    color: var(--AMA-Color-Background-White);
    font-size: 25px;
}

.td_center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.multi-text {
    border-bottom-width: 0px !important;
    text-align: left;
}

.pagination_section {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination_section .selection {
    padding: .5em;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid var(--AMA-Color-Brand-Primary);
}

.pagination_section button {
    margin: .5em;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    padding: .5em;
    width: 68px;
    height: 68px;
    border: none;
    color: var(--AMA-Color-Grey-900);
    background-color: var(--AMA-Color-Background-Light-Darker);
    cursor: pointer;
}

.pagination_section button.button_dir {
    transform: rotate(180deg);
}

.pagination_section button.disabled {
    opacity: .3;
    cursor: auto;
}s

.table tr th.no_pointer,
.table tr th:hover.no_pointer {
    cursor: text !important;
}

.sortingTableButton {
    border: 0px;
    background-color: transparent;
    text-align: left;
    width: 100%;
    padding: 0px !important;
    justify-content: flex-start;
    color: var(--AMA-Color-Brand-Primary) !important;
    text-decoration: none;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
}

.table tbody tr:hover .sortingTableButton {
    text-decoration: underline !important;
}


/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
    .table {
        background-color: var(--AMA-Color-Background-White);
    }

    .table.dark {
        background-color: var(--AMA-Color-Background-Dark-Darker);
    }

    .pagination {
        flex-direction: column !important;
    }

    .pagination_section button {
        width: 55px;
        height: 55px;
        margin: .2em;
    }
}

/* DARK TABLE */
.table.dark tbody tr td,
.table.dark tbody tr td .sortingTableButton {
    color: var(--AMA-Color-Background-White) !important;
}

.table.dark tbody tr:hover {
    background-color: var(--AMA-Color-Background-Dark-Darker) !important;
}

.table.dark tbody tr,
.table.dark tbody tr:last-child {
    border-bottom: 1px solid var(--AMA-Color-Grey-400) !important;
}

.pagination.dark {
    color: var(--AMA-Color-Background-White)
}

.pagination.dark .pagination_section .selection {
    background-color: var(--AMA-Color-Background-Dark-Lighter);
    color: var(--table-pagination-select-text);
    border: 2px solid var(--AMA-Color-Text-Blue);
}