.table_title {
    color: black;
    font-family: Lato;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: .5em;
    margin-bottom: 1em;
}

.table {
    width: 100% !important;
}

.table tr th {
    color: #fff;
    background-color: #333 !important;
    font-family: var(--fonte-lato);
    font-size: 16px;
    vertical-align: middle;
}

.table thead tr {
    border-bottom: 1px solid #333;
}

.table_primary thead tr:last-child {
    background-color: #4d4d4d !important;
}

.table_primary thead tr:last-child th {
    background-color: transparent !important;
}

.table tr th.first-show i:first-child {
    opacity: 100%;
    font-size: 25px;
}

.table tr th i {
    opacity: 0%;
}

.table tr th:hover {
    cursor: pointer !important;
}

.table tr th.show_icon i {
    opacity: 100%;
}

.table tr th:hover i {
    opacity: 70%;
}

.table button {
    height: auto !important;
}

.table thead tr td {
    vertical-align: middle;
}

.table tbody tr {
    border-bottom: 1px solid #333;
}

.table tbody tr a {
    color: var(--primary) !important;
    text-decoration: none;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    cursor: pointer;
}

.table tbody tr:hover {
    background-color: #e4e4e4 !important;
}

.table tbody tr:hover a {
    text-decoration: underline !important;
}


.table tbody tr:last-child {
    border: 0 !important;
}

.table_primary tbody tr td {
    vertical-align: middle;
    background-color: transparent !important;
}

.table tbody tr td:first-child {
    width: 70px;
    height: 72px;
}

.table_primary tbody tr td:last-child {
    width: 8em;
}

.left {
    text-align: left !important;
    padding-left: 16px !important;
}

.right {
    text-align: right !important;
    padding-right: 16px !important; 
}

.show_icon .table tr th i {
    opacity: 100%;
}

.table tr td i {
    color: white;
    font-size: 25px;
}

.td_center {
    text-align: center;
}

.pagination_section {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination_section .selection {
    padding: .5em;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid var(--primary);
}

.pagination_section button {
    margin: .5em;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    padding: .5em;
    width: 68px;
    height: 68px;
    border: none;
    color: black;
    background-color: #e4e4e4;
    cursor: pointer;
}

.pagination_section button.button_dir {
    transform: rotate(180deg);
}

.pagination_section button.disabled {
    opacity: .3;
    cursor: auto;
}


/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
    .table {
        background-color: white;
    }

    .table.dark {
        background-color: #20242c;
    }
}

/* DARK TABLE */
.table.dark tbody tr td,
.table.dark tbody tr td a {
    color: white !important;
}

.table.dark tbody tr:hover {
    background-color: #20242c !important;
}

.table.dark tbody tr,
.table.dark tbody tr:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.pagination.dark {
    color: white
}

.pagination.dark .pagination_section .selection {
    background-color: #2c3241;
    color: var(--table-pagination-select-text);
    border: 2px solid #b6dcf6;
}