.table {
    width: 100% !important;
}

.table tr {
    height: 50px;
}

.table thead tr th {
    color: var(--ama-color-background-white);
    font-family: var(--fonte-lato);
    font-size: 16px;
    vertical-align: middle;
    background-color: transparent;
}

.table thead tr {
    background-color: var(--ama-color-text-gray) !important;
    border-bottom: 1px solid var(--ama-color-text-gray);
}

.table thead tr:last-child:not(:only-child) {
    background-color: var(--ama-color-grey-700) !important;
}

.table_primary thead tr:last-child th {
    background-color: transparent !important;
}

.table tr th.first-show i:first-child {
    opacity: 100%;
    font-size: 25px;
}

.table tr th i {
    opacity: 0%;
}

.table tr th:hover {
    cursor: pointer !important;
}

.table tr th.show_icon i {
    opacity: 100%;
}

.table tr th:hover i {
    opacity: 70%;
}

.table button {
    height: auto !important;
}

.table thead tr td {
    vertical-align: middle;
}

.table tbody tr {
    border-bottom: 1px solid var(--ama-color-text-gray);
    background-color: var(--ama-color-background-white) !important;
}

.table tbody tr:hover {
    background-color: var(--ama-color-background-light-darker) !important;
}

.table_primary tbody tr td {
    vertical-align: middle;
    background-color: transparent !important;
}

.table tbody tr td:first-child {
    width: 70px;
    height: 72px;
}

.table_primary tbody tr td:last-child {
    width: 8em;
}

.left {
    text-align: left !important;
    padding-left: 16px !important;
}

.right {
    text-align: right !important;
    padding-right: 16px !important; 
}

.show_icon .table tr th i {
    opacity: 100%;
}

.table tr td i {
    color: var(--ama-color-background-white);
    font-size: 25px;
}

.multi-text {
    border-bottom-width: 0px !important;
    text-align: left;
}

.pagination_section {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination_section .selection {
    padding: .5em;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid var(--ama-color-brand-primary);
}

.pagination_section button {
    margin: .5em;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    padding: .5em;
    width: 68px;
    height: 68px;
    border: none;
    color: var(--ama-color-grey-900);
    background-color: var(--ama-color-background-light-darker);
    cursor: pointer;
}

.pagination_section button.button_dir {
    transform: rotate(180deg);
}

.pagination_section button.disabled {
    opacity: .3;
    cursor: auto;
}s

.table tr th.no_pointer,
.table tr th:hover.no_pointer {
    cursor: text !important;
}

.table tbody tr td a {
    color: var(--ama-color-brand-primary) !important;
    text-decoration: none !important;
    width: 100%;
    display: flex;
}

.table tbody tr:hover td a {
    text-decoration: underline !important;
}


/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
    .table {
        background-color: var(--ama-color-background-white);
    }

    .table-responsive.dark {
        background-color: var(--ama-color-background-dark-darker);
    }

    .pagination {
        flex-direction: column !important;
    }

    .pagination_section button {
        width: 55px;
        height: 55px;
        margin: .2em;
    }
}

/* DARK TABLE */
.table-responsive.dark,
.table-responsive.dark tbody tr td,
.table-responsive.dark tbody tr td .sortingTableButton {
    color: var(--ama-color-background-white) !important;
}

.table-responsive.dark,
.table-responsive.dark tbody tr {
    background-color: var(--ama-color-background-dark-lighter) !important;
}
.table-responsive.dark tbody tr:hover {
    background-color: var(--ama-color-background-dark-darker) !important;
}

.table-responsive.dark tbody tr,
.table-responsive.dark tbody tr:last-child {
    border-bottom: 1px solid var(--ama-color-grey-400) !important;
}

.pagination.dark .pagination_section .selection {
    background-color: var(--ama-color-background-dark-lighter);
    color: var(--table-pagination-select-text);
    border: 2px solid var(--ama-color-text-blue);
}