<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "ALL_TAGS.statistics_title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>{{ "ALL_TAGS.statistics_subtitle" | translate }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <ngx-gauge
        [type]="'semi'"
        [thick]="'10'"
        [value]="listTags.score | toFixed"
        [label]="'STATISTICS.gauge.label' | translate"
        [min]="0"
        [max]="10"
        [duration]="2000"
        [thresholds]="thresholdConfig">
      </ngx-gauge>
    </div>
    <div>
      <mat-list>
        <mat-list-item>
          <span><strong>{{ "STATISTICS.tags" | translate }}:</strong> {{ listTags.tags.length }}</span>
        </mat-list-item>
        <mat-list-item>
          <span><strong>{{ "STATISTICS.websites" | translate }}:</strong> {{ listTags.nWebsites }}</span>
        </mat-list-item>
        <mat-list-item>
          <span><strong>{{ "STATISTICS.pages" | translate }}:</strong> {{ listTags.nPages }}</span>
        </mat-list-item>
        <mat-list-item>
          <span><strong>{{ "STATISTICS.newest_page_updated" | translate }}:</strong> {{ listTags.recentPage | date }}</span>
        </mat-list-item>
        <mat-list-item>
          <span><strong>{{ "STATISTICS.oldest_page_updated" | translate }}:</strong> {{ listTags.oldestPage | date }}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button color="primary" (click)="openScoreDistributionDialog()">
      {{ "STATISTICS.score_distribution" | translate }}
    </button>
    <span fxFlex="1"></span>
    <button mat-flat-button color="warn" (click)="openErrorDistributionDialog()">
      {{ "STATISTICS.error_distribution" | translate }}
    </button>
  </mat-card-actions>
</mat-card>
