<h1 mat-dialog-title>{{ "DIALOGS.corrections.title" | translate }}</h1>
<mat-dialog-content>
  <mat-tab-group fxHide.lt-sm>
    <mat-tab label="{{ 'DIALOGS.chart' | translate }}">
      <div class="chart">
        <canvas #chart></canvas>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'DIALOGS.table' | translate }}">
      <mat-table matSort
                 [dataSource]="dataSource"
                 [matSortDisableClear]="true"
                 matSortActive="pages"
                 matSortDirection="desc">
        <ng-container matColumnDef="level">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>{{ "DIALOGS.element_corrections.level" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let s"><span>{{s['level']}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>{{ "DIALOGS.element_corrections.description" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let s"><span>{{s['description']}}</span></mat-cell>
        </ng-container>
        <ng-container matColumnDef="websites">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>{{ "DIALOGS.element_corrections.websites" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let s"><span>{{s['websites']}}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="pages">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>{{ "DIALOGS.element_corrections.pages" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let s"><span>{{s['pages']}}</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
      </mat-table>
      <!--table class="table table-sm">
        <thead>
          <tr>
            <th fxHide.lt-sm scope="col">{{ "DIALOGS.errors.level" | translate }}</th>
            <th scope="col">{{ "DIALOGS.errors.description" | translate }}</th>
            <th *ngIf="inTagsPage" scope="col">{{ "DIALOGS.errors.websites" | translate }}</th>
            <th scope="col">{{ "DIALOGS.errors.pages" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of successTableData">
            <td fxHide.lt-sm class="success_criteria">{{tests[s['key']]['level']}}</td>
            <td>{{ 'RESULTS.' + s['key'] | translate }}</td>
            <td *ngIf="inTagsPage">{{s["n_websites"]}}</td>
            <td>{{s["n_pages"]}}</td>
          </tr>
        </tbody>
      </table-->
    </mat-tab>
  </mat-tab-group>
  <mat-table fxHide.gt-xs matSort
             [dataSource]="dataSource"
             [matSortDisableClear]="true"
             matSortActive="pages"
             matSortDirection="desc"
             class="mobile-friendly">
    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>{{ "DIALOGS.element_corrections.level" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let s"><span>{{s['level']}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>{{ "DIALOGS.element_corrections.description" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let s"><span>{{s['description']}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="websites">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>{{ "DIALOGS.element_corrections.websites" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let s"><span>{{s['websites']}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pages">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>{{ "DIALOGS.element_corrections.pages" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let s"><span>{{s['pages']}}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions fxLayout="row">
  <span fxFlex></span>
  <button mat-flat-button color="warn" mat-dialog-close>{{ "DIALOGS.close" | translate }}</button>
</mat-dialog-actions>
