<div class="diag_wrapper">
  <div
    class="dialog-title"
    fxLayout="row"
    fxLayoutAlign="start center"
    gdColumns="87% 8% 5%"
  >
    <h2 mat-dialog-title>{{ "DIALOGS.corrections.title" | translate }}</h2>
    <span>{{ "DIALOGS.close" | translate }}</span>
    <button
      class="close"
      type="button"
      mat-dialog-close
      fxLayout="row"
      fxLayoutAlign="center center"
      aria-label="{{ 'DIALOGS.close_dialog' | translate }}"
    >
      X
    </button>
  </div>
  <div class="practicesTabs">
    <div class="tabs">
      <div role="tablist">
        <button
          type="button"
          role="tab"
          aria-selected="true"
          aria-controls="graph_tab"
          id="tab_graph"
        >
          {{ "DIALOGS.corrections.chart_title" | translate }}
        </button>
        <span fxFlex="1"></span>
        <button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="table_tab"
          id="tab_table"
          tabindex="-1"
        >
          {{ "DIALOGS.corrections.table_title" | translate }}
        </button>
      </div>
    </div>
  </div>
  <mat-dialog-content>
    <div class="practicesTabs">
      <div class="tabs">
        <div
          tabindex="0"
          role="tabpanel"
          id="graph_tab"
          aria-labelledby="tab_graph"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <canvas #chart></canvas>
        </div>
        <div
          tabindex="0"
          role="tabpanel"
          id="table_tab"
          aria-labelledby="tab_table"
          class="is-hidden"
        >
          <div class="filter">
            <label for="filter">{{ "DIALOGS.table.select" | translate }}</label>
            <select id="filter" (change)="applyFilter($event)">
              <option
                *ngFor="let typeElem of existingElemGroups"
                value="{{ typeElem }}"
              >
                {{ "ELEM_GROUPS." + typeElem | translate }}
              </option>
              <option value="null">
                {{ "ELEM_GROUPS.all_types" | translate }}
              </option>
            </select>
          </div>
          <table>
            <thead>
              <tr>
                <th>{{ "DIALOGS.table.level" | translate }}</th>
                <th>{{ "DIALOGS.table.element" | translate }}</th>
                <th>{{ "DIALOGS.table.description" | translate }}</th>
                <th>{{ "DIALOGS.table.websites" | translate }}</th>
                <th>{{ "DIALOGS.table.pages" | translate }}</th>
                <th>{{ "DIALOGS.table.elems" | translate }}</th>
                <th>{{ "DIALOGS.table.quartiles" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of showTableData">
                <td>{{ p["level"] }}</td>
                <td>{{ p["element"] }}</td>
                <td>{{ p["description"] }}</td>
                <td>{{ p["websites"] }}</td>
                <td>{{ p["pages"] }}</td>
                <td>
                  <span *ngIf="p['elems'] >= 0">{{ p["elems"] }}</span>
                  <span *ngIf="p['elems'] < 0">-</span>
                </td>
                <td>
                  <span *ngIf="p['elems'] < 0">-</span>
                  <span *ngIf="p['elems'] >= 0">
                    <span *ngFor="let q of p['quartiles']" fxLayout="column">
                      <span
                        *ngIf="
                          q.int.lower === q.int.upper &&
                          q.int.lower === 1 &&
                          q.tot === 1
                        "
                      >
                        {{ q.int.lower }}
                        {{
                          "DIALOGS.table.occurrences.single_error" | translate
                        }}
                        {{ q.tot }}
                        <span *ngIf="inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.single_page_listDirectories"
                              | translate
                          }}
                        </span>
                        <span *ngIf="!inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.single_page_directory"
                              | translate
                          }}
                        </span>
                      </span>

                      <span
                        *ngIf="
                          q.int.lower === q.int.upper &&
                          q.int.lower === 1 &&
                          q.tot > 1
                        "
                      >
                        {{ q.int.lower }}
                        {{
                          "DIALOGS.table.occurrences.single_error" | translate
                        }}
                        {{ q.tot }}
                        <span *ngIf="inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.multi_page_listDirectories"
                              | translate
                          }}
                        </span>
                        <span *ngIf="!inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.multi_page_directory"
                              | translate
                          }}
                        </span>
                      </span>

                      <span
                        *ngIf="
                          q.int.lower === q.int.upper &&
                          q.int.lower !== 1 &&
                          q.tot === 1
                        "
                      >
                        {{ q.int.lower }}
                        {{
                          "DIALOGS.table.occurrences.multi_error" | translate
                        }}
                        {{ q.tot }}
                        <span *ngIf="inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.single_page_listDirectories"
                              | translate
                          }}
                        </span>
                        <span *ngIf="!inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.single_page_directory"
                              | translate
                          }}
                        </span>
                      </span>

                      <span
                        *ngIf="
                          q.int.lower === q.int.upper &&
                          q.int.lower !== 1 &&
                          q.tot > 1
                        "
                      >
                        {{ q.int.lower }}
                        {{
                          "DIALOGS.table.occurrences.multi_error" | translate
                        }}
                        {{ q.tot }}
                        <span *ngIf="inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.multi_page_listDirectories"
                              | translate
                          }} </span
                        ><span *ngIf="!inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.multi_page_directory"
                              | translate
                          }}
                        </span>
                      </span>

                      <span *ngIf="q.int.lower !== q.int.upper && q.tot === 1">
                        {{ "DIALOGS.table.occurrences.from" | translate }}
                        {{ q.int.lower }}
                        {{ "DIALOGS.table.occurrences.to" | translate }}
                        {{ q.int.upper }}
                        {{
                          "DIALOGS.table.occurrences.multi_error" | translate
                        }}
                        {{ q.tot }}
                        <span *ngIf="inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.single_page_listDirectories"
                              | translate
                          }}
                        </span>
                        <span *ngIf="!inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.single_page_directory"
                              | translate
                          }}
                        </span>
                      </span>

                      <span *ngIf="q.int.lower !== q.int.upper && q.tot > 1">
                        {{ "DIALOGS.table.occurrences.from" | translate }}
                        {{ q.int.lower }}
                        {{ "DIALOGS.table.occurrences.to" | translate }}
                        {{ q.int.upper }}
                        {{
                          "DIALOGS.table.occurrences.multi_error" | translate
                        }}
                        {{ q.tot }}
                        <span *ngIf="inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.multi_page_listDirectories"
                              | translate
                          }}
                        </span>
                        <span *ngIf="!inDirectoriesPage">
                          {{
                            "DIALOGS.table.occurrences.multi_page_directory"
                              | translate
                          }}
                        </span>
                      </span>
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <span>{{ "DIRECTORIES.table.note" | translate }}</span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
