<nav id="navBar" fxLayout="row">
  <span>{{ "HEADER.NAV.location" | translate }} &nbsp;</span>
  <a href="/">{{ "HEADER.NAV.ecosystem" | translate }}</a>

  <mat-icon>keyboard_arrow_right</mat-icon>
  <a routerLink="/" routerLinkActive="active">{{ "HEADER.NAV.home" | translate }}</a>

  <mat-icon *ngIf="tag">keyboard_arrow_right</mat-icon>
  <a [routerLink]="['/', tagId]" routerLinkActive="active" *ngIf="tag">{{ tag }}</a>

  <mat-icon *ngIf="website">keyboard_arrow_right</mat-icon>
  <a [routerLink]="['/', tagId, websiteId]" routerLinkActive="active" *ngIf="website">{{ website }}</a>
</nav>
