.breadcrumb-item + .breadcrumb-item::before {
  content: unset;
}

.breadcrumb-item a {
  color: var(--ama-color-brand-primary);
}

.breadcrumb-item {
  font-family: var(--font-lato) !important;
  font-size: 1rem;
}

.breadcrumb-item.active {
  color: var(--ama-color-text-gray) !important;
}

.breadcrumb .breadcrumb-item:not(:first-child) {
  background-image: url("../../../../public/img/chevron-right-dark.svg");
  background-size: .75rem;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 1rem;
  margin-left: 0.5rem;
}


/* Dark theme */
.breadcrumbs.dark {
  background-color: var(--ama-color-background-dark-darker);
}

.breadcrumbs.dark .breadcrumb .breadcrumb-item:not(:first-child) {
  background-image: url("../../../../public/img/chevron-right-light.svg");
}

.breadcrumbs.dark .breadcrumb-item,
.breadcrumbs.dark .breadcrumb-item a {
    color: var(--ama-color-text-blue) !important;
}