.skip-to-content {
  background: var(--AMA-Color-Background-White);
}

.logo .title,
.logo .title2 {
  color: var(--AMA-Color-Brand-Primary);
  font-size: 26px;
}

.skip-to-content-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden !important;
  white-space: nowrap;
  border: 0;
  color: var(--AMA-Color-Brand-Primary) !important;
}

.skip-to-content-link:focus {
  position: static;
  width: auto;
  height: 60px;
  overflow: visible !important;
  white-space: normal;
  outline: 0;
}

.skip-to-content-link:focus span {
  outline: 1px solid var(--AMA-Color-Blue-600);
  color: var(--AMA-Color-Brand-Primary) !important;
  outline-color: var(--AMA-Color-Blue-600);
  border-radius: 4px;
}

.text-primary {
  color: var(--AMA-Color-Brand-Primary) !important;
}

.widgets-bar {
  background-color: var(--AMA-Color-Background-Light-Lighter);
}

.widgets-bar a {
  text-decoration: none;
}

.site-description p {
  text-align: right;
}

.button-mobile {
  display: none !important;
}
@media only screen and (max-width: 991px) {
  ss .logo img {
    max-width: 90%;
    height: auto;
  }

  .button-mobile {
    display: flex !important;
    margin: 0.5rem 0;
    justify-content: center;
  }

  .site-description p {
    text-align: center;
  }
}

@media only screen and (max-width: 1199px) {
  .logo img {
    max-width: 90%;
    height: auto;
  }
}

.menu-hamburger {
  border: 0;
  width: 45px;
  height: 45px;
  color: var(--AMA-Color-Background-White);
  background-color: var(--AMA-Color-Brand-Primary);
}

.menu-hamburger span {
  font-size: 20px;
}

#widget .dark_mode {
  background-color: var(--AMA-Color-Brand-Primary);
  color: var(--AMA-Color-Background-White) !important;
}

.dark_mode .logo .title,
.dark_mode .logo .title2 {
  color: var(--AMA-Color-Text-Blue);
}
