.nav-tabs {
  background-color: #eaeaea !important;
  border-radius: 0px !important;
  line-height: 3em;
}

.vertical-tabs {
  display: flex;
  flex-direction: row;
}

.vertical-tabs .nav-tabs {
  background-color: white !important;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-between;
  margin-right: 20px;
  border-bottom: none;
}

.vertical-tabs .nav-tabs .nav-link {
  width: 100%;
  justify-content: left;
}

.vertical-tabs .nav-tabs .nav-item:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #dee2e6; /* Adjust color as needed */
  padding-right: 15px;
}

.nav-tabs .nav-link {
  border: 0;
  color: var(--primary) !important;
  border-radius: 0 !important;
}

.nav-tabs .nav-link.active {
  font-weight: 700;
  color: var(--primary);
  font-family: var(--font-lato);
  background-color: #eaeaea;
  border-bottom: 5px solid var(--primary);
}

.nav-pills .nav-link {
  display: block;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .nav-tabs {
    display: flex;
    flex-direction: column;
  }

  .nav-tabs .nav-link {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    align-items: flex-start !important;
  }

  .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: var(--primary);
    border: 0;
  }
}
