<main fxLayout="column" fxLayoutAlign="center center">
  <section>
    <nav fxLayout="row">
      <a href="https://www.acessibilidade.gov.pt/">{{ "HEADER.NAV.location" | translate }}</a>
      <span>></span>
      <a routerLink="/">{{ "HEADER.NAV.observatory" | translate }}</a>
      <span>></span>
      <span>{{ "HEADER.NAV.directories" | translate }}</span>
    </nav>
  </section>
  <section id="main" class="info">
    <div class="observatory">{{ "DIRECTORIES.title" | translate }}</div>
    <h2>{{ "DIRECTORIES.subtitle" | translate }}</h2>
  </section>
  <app-directories-statistics [globalData]="globalData"></app-directories-statistics>
  <br>
  <br>
  <app-directories-list *ngIf="globalData.nDirectories > 0" [globalData]="globalData"></app-directories-list>
  <br>
  <br>
  <app-website-search [globalData]="globalData"></app-website-search>
</main>
