section {
  width: 87%;
}

nav {
  padding-top: 3em;
  padding-bottom: 3em;
}

nav span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

nav span,
nav a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato";
  color: var(--breadcrumbs-text);
  cursor: pointer;
}

nav a {
  text-decoration: underline;
}

nav span:last-child {
  color: var(--breadcrumbs-text2);
  cursor: default;
}

.info {
  margin-bottom: 2em;
}

.info .observatory {
  font-size: 19px;
  line-height: 48px;
  color: var(--info-observatory-text);
  background-color: var(--info-observatory-background);
  font-weight: 700;
  font-family: "Lato";
  height: 31px;
  width: 157px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info h2 {
  font-size: 2.6em;
  color: var(--info-title);
  font-weight: 900;
  font-family: "Lato";
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}


app-tags-statistics {
  margin-bottom: 2em;
}