<main fxLayout="column" fxLayoutAlign="center center">
  <section>
    <nav fxLayout="row">
      <a href="https://www.acessibilidade.gov.pt/">{{ "HEADER.NAV.location" | translate }}</a>
      <span>></span>
      <a routerLink="/">{{ "HEADER.NAV.observatory" | translate }}</a>
      <span>></span>
      <a [routerLink]="['/', 'directories']">{{ "HEADER.NAV.directories" | translate }}</a>
    </nav>
  </section>
  <section id="main" class="info">
    <div class="observatory">{{ "ALL_TAGS.title" | translate }}</div>
    <h2>{{ "ALL_TAGS.subtitle" | translate }}</h2>
  </section>
  <app-tags-statistics [listTags]="listTags"></app-tags-statistics>
  <app-tags-list *ngIf="listTags.tags.length > 0" [listTags]="listTags"></app-tags-list>
</main>
