/* DARK MODE */
.main_content_directory {
    background-color: var(--AMA-Color-Background-Dark-Lighter) !important;
    color: var(--AMA-Color-Background-White);
}

.main_dark .breadcrumb .breadcrumb-item:not(:first-child) {
    background-image: url("../../../public/img/chevron-right-light.svg");
}
  
.main_dark .breadcrumb-item,
.main_dark .breadcrumb-item a {
    color: var(--AMA-Color-Text-Blue) !important;
}

.main_dark .observatorio {
    color: var(--AMA-Color-Grey-900);
    background-color: var(--AMA-Color-Text-Blue);
    border-color: transparent;
}

.main_dark .page_title {
    color: var(--AMA-Color-Background-White);
}

.main_content_directory .section_container h3,
.main_content_directory .section_container h4 {
    color: var(--AMA-Color-Background-White);
}