:host {
  width: 87%;
  background-color: var(--statistics-background);
}

.statistics-wrapper {
  width: 90%;
  padding: 1em;

  div {
    width: 100%;
  }
}

h3 {
  color: var(--statistics-text);
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
}

.tabs {
  width: 100%;
  font-family: "Lato", sans-serif;

  button {
    cursor: pointer;
  }
}

[role="tablist"] {
  width: 100%;
  margin: 0 0 -0.1em;
  overflow: visible;
  background-color: var(--background);
}

[role="tab"] {
  font-size: 1em;
  line-height: 3em;
  color: var(--statistics-tabs-text);
  background-color: var(--background);
  font-weight: 700;
  font-family: "Lato";
  opacity: 1 !important;
  border: none;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0;
}

[role="tab"][aria-selected="true"] {
  border-bottom: 5px solid var(--statistics-tabs-text);
}

[role="tabpanel"] {
  border: none;
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: none;
}

[role="tabpanel"].is-hidden {
  display: none !important;
}

[role="tabpanel"]:focus {
  outline: none;
}

canvas {
  margin-top: 1em;
}

table {
  margin-top: 3px;
  width: 100%;
  border-spacing: 0;
}

table thead {
  background-color: var(--statistics-score-table-header-background);
}

table thead tr th {
  padding: 1em;
  font-size: 16px;
  line-height: 20px;
  color: var(--statistics-score-table-header-text);
  font-weight: 700;
  font-family: "Lato";

  &:first-child {
    text-align: left;
  }

  &:not(:first-child) {
    text-align: right;
  }
}

table tbody tr td {
  font-size: 16px;
  line-height: 50px;
  color: var(--statistics-score-table-text);
  font-weight: 400;
  font-family: "Lato";
  border-bottom: thin solid var(--statistics-score-table-border);

  &:first-child {
    text-align: left;
    padding-left: 1em;
  }

  &:last-child {
    padding-right: 1em;
  }

  &:not(:first-child) {
    text-align: right;
  }
}