:host {
  width: 87%;
  background-color: var(--info-observatory-background);
}

.search-wrapper {
  width: 90%;
  padding: 1em;
}

.input-container * {
  display: block;
}

label {
  font-weight: bold;
  font-size: large;
  color: var(--info-observatory-text);
}

#search {
  padding: 1em;
  width: calc(100% - 2.2em);
}

table {
  width: 100%;
  border-spacing: 0;
}

table thead {
  color: var(--table-header-text);
}

table thead tr {
  background-color: var(--table-header1);
}

table thead tr th {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  padding: 1em;
}

.aright {
  text-align: right !important;
  padding-left: 0;
}

table thead tr th {
  text-align: left;
}

::ng-deep .mat-sort-header-stem {
  color: var(--table-header-text);
}

::ng-deep .mat-sort-header-indicator {
  color: var(--table-header-text);
}

.directory {
  width: 30%;
}

.website {
  width: 40%;
}

table tbody tr td {
  border-bottom: thin solid var(--table-border);
  background-color: var(--statistics-background);
}

table tbody tr:hover {
  td {
    background-color: var(--table-hover);

    a {
      text-decoration: underline;
    }
  }
}

table tbody tr td:not(.directory, .website) {
  color: var(--table-text);
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 80px;
}

td.directory a,
td.website a {
  color: var(--table-directory-name);
  text-decoration: none;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}

table tbody tr td{
  text-align: left;
  padding-left: 16px;
}

.note {
  color: var(--table-text);
}

caption {
  visibility: hidden;
}

::ng-deep .tooltip-stamp-declaration {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  color: var(--table-header-text);
}

.no-results {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--statistics-background);
}