<table>
  <thead>
    <tr>
      <th>{{ "WEBSITE.table.practice_label" | translate }}</th>
      <th>{{ "WEBSITE.table.details_practice_label" | translate }}</th>
      <th>{{ "WEBSITE.table.n_pages_label" | translate }}</th>
      <th>{{ "WEBSITE.table.n_errors_label" | translate }}</th>
      <th>{{ "WEBSITE.table.lvl_label" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of practices">
      <td innerHTML="{{ 'RESULTS.' + e['key'] | translate:{ value: e.n_occurrences } | html }}"></td>
      <td>
        <span *ngFor="let q of e.quartiles" fxLayout="column">
          <span *ngIf="q.int.lower === q.int.upper && q.int.lower === 1 && q.tot === 1 && website.nPages === q.tot">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.single_practice" | translate }}
            {{ "WEBSITE.table.details.all_pages" | translate }}
          </span>
          <span *ngIf="q.int.lower === q.int.upper && q.int.lower === 1 && q.tot !== website.nPages">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.single_practice" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.from" | translate }}
            <!--{{ website.nPages }}-->
            {{ "WEBSITE.table.details.multi_page" | translate }}
          </span>
          <span *ngIf="q.int.lower === q.int.upper && q.int.lower === 1 && q.tot > 1 && q.tot === website.nPages">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.single_practice" | translate }}
            {{ "WEBSITE.table.details.all_pages" | translate }}
          </span>
          
          <span *ngIf="q.int.lower === q.int.upper && q.int.lower !== 1 && q.tot === website.nPages">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.multi_practices" | translate }}
            {{ "WEBSITE.table.details.all_pages" | translate }}
          </span>
          <span *ngIf="q.int.lower === q.int.upper && q.int.lower !== 1 && q.tot !== website.nPages">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.multi_practices" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.from" | translate }}
            <!--{{ website.nPages }}-->
            {{ "WEBSITE.table.details.multi_page" | translate }}
          </span>

          <span *ngIf="q.int.lower !== q.int.upper && q.tot === 1">
            {{ "WEBSITE.table.details.from" | translate }}
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.to" | translate }}
            {{ q.int.upper }}
            {{ "WEBSITE.table.details.multi_practices" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.from" | translate }}
            <!--{{ website.nPages }}-->
            {{ "WEBSITE.table.details.multi_page" | translate }}
          </span>
          <span *ngIf="q.int.lower !== q.int.upper && q.tot > 1">
            {{ "WEBSITE.table.details.from" | translate }}
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.to" | translate }}
            {{ q.int.upper }}
            {{ "WEBSITE.table.details.multi_practices" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.from" | translate }}
            <!--{{ website.nPages }}-->
            {{ "WEBSITE.table.details.multi_page" | translate }}
          </span>
        </span>
      </td>
      <td fxHide.xs>{{ e.n_pages }}</td>
      <td fxHide.xs>{{ e.n_occurrences }}</td>
      <td fxHide.lt-md>{{ e.lvl }}</td>
    </tr>
  </tbody>
</table>