<table>
  <thead>
    <tr>
      <th *ngIf="type === 'good'">{{ "WEBSITE.table.practice_label" | translate }}</th>
      <th *ngIf="type === 'bad'">{{ "WEBSITE.table.error_label" | translate }}</th>
      <th *ngIf="type === 'good'">{{ "WEBSITE.table.details_practice_label" | translate }}</th>
      <th *ngIf="type === 'bad'">{{ "WEBSITE.table.details_error_label" | translate }}</th>
      <th>{{ "WEBSITE.table.n_errors_label" | translate }}</th>
      <th>{{ "WEBSITE.table.n_pages_label" | translate }}</th>
      <th>{{ "WEBSITE.table.lvl_label" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of practices">
      <td innerHTML="{{ 'RESULTS.' + e['key'] | translate:{ value: e.n_occurrences } | html }}"></td>
      <td>
        <span *ngFor="let q of e.quartiles" fxLayout="column">
          <span *ngIf="q.int.lower === q.int.upper && q.int.lower === 1 && q.tot === 1">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.single_error" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.single_page" | translate }}
          </span>
          <span *ngIf="q.int.lower === q.int.upper && q.int.lower === 1 && q.tot > 1">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.single_error" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.multi_page" | translate }}
          </span>

          <span *ngIf="q.int.lower === q.int.upper && q.int.lower !== 1 && q.tot === 1">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.multi_error" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.single_page" | translate }}
          </span>
          <span *ngIf="q.int.lower === q.int.upper && q.int.lower !== 1 && q.tot > 1">
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.multi_error" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.multi_page" | translate }}
          </span>

          <span *ngIf="q.int.lower !== q.int.upper && q.tot === 1">
            {{ "WEBSITE.table.details.from" | translate }}
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.to" | translate }}
            {{ q.int.upper }}
            {{ "WEBSITE.table.details.multi_error" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.single_page" | translate }}
          </span>
          <span *ngIf="q.int.lower !== q.int.upper && q.tot > 1">
            {{ "WEBSITE.table.details.from" | translate }}
            {{ q.int.lower }}
            {{ "WEBSITE.table.details.to" | translate }}
            {{ q.int.upper }}
            {{ "WEBSITE.table.details.multi_error" | translate }}
            {{ q.tot }}
            {{ "WEBSITE.table.details.multi_page" | translate }}
          </span>
        </span>
      </td>
      <td fxHide.xs>{{ e.n_occurrences }}</td>
      <td fxHide.xs>{{ e.n_pages }}</td>
      <td fxHide.lt-md>{{ e.lvl }}</td>
    </tr>
  </tbody>
</table>