<br fxShow="errors.length !== 0">
<mat-card fxShow="errors.length !== 0">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "DIALOGS.errors.title" | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayoutAlign="center center">
    <mat-tab-group fxFlex="70" fxFlex.lt-md="100">
      <mat-tab label="{{ 'DIALOGS.chart' | translate }}">
        <canvas #chartErrors></canvas>
      </mat-tab>
      <mat-tab label="{{ 'DIALOGS.table' | translate }}">
        <table border="1" frame="void" rules="rows">
          <thead>
            <tr>
              <th>{{ "DIALOGS.errors.level" | translate }}</th>
              <th>{{ "DIALOGS.errors.description" | translate }}</th>
              <th *ngIf="isCat">{{ "DIALOGS.errors.websites" | translate }}</th>
              <th>{{ "DIALOGS.errors.pages" | translate }}</th>
              <th>{{ "DIALOGS.errors.situations" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of errors">
              <td>{{elemStats[e["key"]]["lev"]}}</td>
              <td innerHTML="{{ 'ELEMS.' + e['key'] | translate }}"></td>
              <td *ngIf="isCat">{{e["n_websites"]}}</td>
              <td>{{e["n_pages"]}}</td>
              <td>{{e["n_elems"]}}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
