.btn-primary {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  font-weight: 700;
  border: 2px solid var(--ama-color-brand-primary) !important;
}

.btn-primary:hover {
  color: var(--ama-color-brand-primary);
  background-color: var(--ama-color-background-white);
}

.btn-primary:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-grey-500);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  border-color: var(--ama-color-brand-primary);
}

.btn-check:focus + .btn,
.btn-primary:focus {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  outline: 0;
}
