.btn-primary {
  color: var(--AMA-Color-Background-White);
  background-color: var(--AMA-Color-Brand-Primary);
  font-weight: 700;
  border: 2px solid var(--AMA-Color-Brand-Primary) !important;
}

.btn-primary:hover {
  color: var(--AMA-Color-Brand-Primary);
  background-color: var(--AMA-Color-Background-White);
}

.btn-primary:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--AMA-Color-Background-White);
  background-color: var(--AMA-Color-Grey-500);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--AMA-Color-Background-White);
  background-color: var(--AMA-Color-Brand-Primary);
  border-color: var(--AMA-Color-Brand-Primary);
}

.btn-check:focus + .btn,
.btn-primary:focus {
  color: var(--AMA-Color-Background-White);
  background-color: var(--AMA-Color-Brand-Primary);
  outline: 0;
}
