.btn-secondary {
  border: 2px solid transparent;
  font-weight: 700;
  color: var(--ama-color-brand-primary);
  background-color: var(--ama-color-background-white);
}

.btn-secondary:disabled {
  color: var(--ama-color-grey-700);
  opacity: 0.8 !important;
  background-color: var(--ama-color-background-white);
  border: 2px solid transparent;
}

.btn-secondary:hover {
  border: 2px solid var(--ama-color-blue-400);
  color: var(--ama-color-blue-400);
  background-color: var(--ama-color-background-white);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  border-color: var(--ama-color-brand-primary);
}

.btn-check:focus + .btn,
.btn-secondary:focus {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-brand-primary);
  outline: 0;
}
