.btn-success {
  color: var(--ama-color-text-gray);
  background-color: var(--ama-color-green-400);
  font-weight: 700;
  border: 2px solid transparent;
}

.btn-success:hover {
  color: var(--ama-color-text-gray);
  background-color: var(--ama-color-green-500);
  border-color: transparent;
}

.btn-success:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-grey-500);
}
