.btn-danger {
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-red-500);
  font-weight: 700;
  border: 2px solid var(--ama-color-red-500);
}

.btn-danger:hover {
  color: var(--ama-color-background-white);
  border-color: transparent;
  background-color: var(--ama-color-red-600);
}

.btn-danger:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--ama-color-background-white);
  background-color: var(--ama-color-grey-500);
}
