.btn-danger {
  color: var(--AMA-Color-Background-White);
  background-color: var(--AMA-Color-Red-500);
  font-weight: 700;
  border: 2px solid var(--AMA-Color-Red-500);
}

.btn-danger:hover {
  color: var(--AMA-Color-Background-White);
  border-color: transparent;
  background-color: var(--AMA-Color-Red-600);
}

.btn-danger:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--AMA-Color-Background-White);
  background-color: var(--AMA-Color-Grey-500);
}
