.btn-cancel {
  font-weight: 700;
  background-color: var(--ama-color-background-white);
  border: 1px solid var(--ama-color-text-gray) !important;
}

.btn-cancel:hover {
  color: var(--ama-color-grey-600);
  background-color: var(--ama-color-grey-50);
  border: 2px solid var(--ama-color-grey-600);
}

.btn-cancel:disabled {
  opacity: 0.8;
  color: var(--ama-color-grey-700);
  border: 1px solid var(--ama-color-grey-700);
}
