.btn-cancel {
  font-weight: 700;
  background-color: var(--AMA-Color-Background-White);
  border: 1px solid var(--AMA-Color-Text-Gray) !important;
}

.btn-cancel:hover {
  color: var(--AMA-Color-Grey-600);
  background-color: var(--AMA-Color-Grey-50);
  border: 2px solid var(--AMA-Color-Grey-600);
}

.btn-cancel:disabled {
  opacity: 0.8;
  color: var(--AMA-Color-Grey-700);
  border: 1px solid var(--AMA-Color-Grey-700);
}
