.btn-success {
  color: var(--AMA-Color-Text-Gray);
  background-color: var(--AMA-Color-Green-400);
  font-weight: 700;
  border: 2px solid transparent;
}

.btn-success:hover {
  color: var(--AMA-Color-Text-Gray);
  background-color: var(--AMA-Color-Green-500);
  border-color: transparent;
}

.btn-success:disabled {
  opacity: 1;
  border-color: transparent;
  color: var(--AMA-Color-Background-White);
  background-color: var(--AMA-Color-Grey-500);
}
