.btn-ghost {
  color: var(--AMA-Color-Brand-Primary);
  font-weight: 700;
  border: 1px solid var(--AMA-Color-Brand-Primary);
}

.btn-ghost:hover {
  color: var(--AMA-Color-Blue-400);
  border: 2px solid var(--AMA-Color-Blue-400);
}

.btn-ghost:disabled {
  opacity: 0.8;
  color: var(--AMA-Color-Grey-700);
  border: 1px solid var(--AMA-Color-Grey-700);
}
