.btn-ghost {
  color: var(--ama-color-brand-primary);
  font-weight: 700;
  border: 1px solid var(--ama-color-brand-primary);
}

.btn-ghost:hover {
  color: var(--ama-color-blue-400);
  border: 2px solid var(--ama-color-blue-400);
}

.btn-ghost:disabled {
  opacity: 0.8;
  color: var(--ama-color-grey-700);
  border: 1px solid var(--ama-color-grey-700);
}
