.website table tbody tr:hover {
    background-color: transparent !important;
}

.title_container h3 a {
    text-decoration: none !important;
    color: var(--AMA-Color-Brand-Primary)
}

.title_container h3 a:hover {
    text-decoration: underline !important;
}

.radar_graphic {
    height: 500px !important;
}

.good_bad ul {
    margin-bottom: 0px !important;
    background-color: transparent !important;
}

.good_bad .nav-tabs .nav-link.active {
    background-color: transparent !important;
}

.good_bad ul li {
    font-weight: 700;
    padding: 0px;
    font-size: 22px;
    line-height: 48px;
}

.barLineContainer {
    width: 100%;
    height: 500px;
    overflow-x: auto;
}

.tabs_section .table_primary thead tr:last-child th {
    background-color: var(--AMA-Color-Text-Gray) !important;
    color: var(--AMA-Color-Background-White) !important;
}

.best_practises .table_primary thead tr {
    background-color: var(--AMA-Color-Background-Light-Lighter) !important;
}

.best_practises .table_primary thead tr th {
    color: var(--AMA-Color-Grey-900) !important;
}

.dark_table .table_primary thead tr th {
    background-color: var(--AMA-Color-Text-Gray) !important;
    color: var(--AMA-Color-Background-White) !important;
}

.best_practises .table {
    margin-bottom: 25px;
}

.topTen_section ul {
    background-color: var(--AMA-Color-Background-Light-Darker) !important;
    margin-bottom: 10px !important;
}

.topTen_section .nav-tabs .nav-link.active {
    background-color: var(--AMA-Color-Background-Light-Darker) !important;
}

.topTen_section ul li {
    font-size: 16px;
}

/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
    .radar_graphic {
        height: fit-content;
    }

    .best_practises .table {
        width: 700px !important;
    }

    .barLineContainer {
        height: 500px;
        width: 800px;
    }

    .overflow {
        overflow-x: auto;
    }

    .topTen_section .nav-tabs .nav-link.active {
        background-color: var(--AMA-Color-Brand-Primary) !important;
    }

    .good_bad .nav-tabs .nav-link.active {
        background-color: var(--AMA-Color-Brand-Primary) !important;
    }    

    .main_dark .barLineContainer {
        background-color: var(--AMA-Color-Background-Dark-Darker);
    }

    .main_dark .best_practises .table tbody tr {
        background-color: var(--AMA-Color-Background-Dark-Lighter);
    }
    
    .main_dark .good_bad .topTen_section .nav-tabs .nav-link.active {
        border: 0px !important;
        background-color: var(--AMA-Color-Brand-Primary) !important;
        color: var(--AMA-Color-Background-White) !important;
    }
}

/* DARK MODE */
.main_dark .breadcrumb .breadcrumb-item:not(:first-child) {
    background-image: url("../../../public/img/chevron-right-light.svg");
}

.main_dark .breadcrumb-item,
.main_dark .breadcrumb-item a {
    color: var(--AMA-Color-Text-Blue) !important;
}

.main_dark .good_bad .nav-tabs .nav-link {
    color: var(--AMA-Color-Text-Blue) !important;
}

.main_dark .good_bad .nav-tabs .nav-link.active {
    border-bottom: 5px solid var(--AMA-Color-Text-Blue) !important;
}

.main_dark .topTen_section .nav-tabs .nav-link {
    color: var(--AMA-Color-Brand-Primary) !important;
}
.main_dark .topTen_section .nav-tabs .nav-link.active {
    border-bottom: 5px solid var(--AMA-Color-Brand-Primary) !important;
}

.main_content_website {
    background-color: var(--AMA-Color-Background-Dark-Lighter) !important;
    color: var(--AMA-Color-Background-White);
}

.title_container.main_content_website {
    background-color: transparent !important;
}

.title_container.main_content_website h3 a {
    color: var(--AMA-Color-Text-Blue);
}

.main_content_website .section_container h3 {
    color: var(--AMA-Color-Background-White) !important;
}

.main_content_website .best_practises .table_primary thead tr {
    background-color: var(--AMA-Color-Background-Dark-Darker) !important;
}

.main_content_website .best_practises .table_primary thead tr th {
    color: var(--AMA-Color-Background-White) !important;
}

.main_content_website .best_practises h3,
.main_content_website .best_practises h4 {
    color: var(--AMA-Color-Background-White);
}

.main_content_website .dark_table .table_primary thead tr th {
    background-color: var(--AMA-Color-Background-Dark-Darker) !important;
    color: var(--AMA-Color-Background-White) !important;
}

