section {
  width: 87%;
}

nav {
  padding-top: 3em;
  padding-bottom: 3em;
}

nav span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

nav span,
nav a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato";
  color: var(--breadcrumbs-text);
  cursor: pointer;
}

nav a {
  text-decoration: underline;
}

nav span:last-child {
  color: var(--breadcrumbs-text2);
  cursor: default;
}

.info {
  margin-bottom: 2em;
}

.info .observatory {
  font-size: 19px;
  line-height: 48px;
  color: var(--info-observatory-text);
  background-color: var(--info-observatory-background);
  font-weight: 700;
  font-family: "Lato";
  height: 31px;
  width: 157px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info h2 {
  font-size: 2.6em;
  color: var(--info-title);
  font-weight: 900;
  font-family: "Lato";
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 90%;
}

.numbers_section {
  color: var(--home-numbers-text);
  background-color: var(--first-half-background);

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Lato";
  }

  svg path,
  svg circle,
  svg ellipse {
    fill: var(--home-4all-text);
  }

  svg {
    width: 6em;
  }
}

.directories-link {
  font-size: 1em;
  line-height: 20px;
  color: var(--home-tabs-button-text);
  background-color: var(--home-tabs-button-background);
  font-weight: 700;
  font-family: "Lato";
  text-decoration: none;
  padding: 1em;
  border-radius: 30px;
  border: 2px solid var(--home-tabs-button-background);
  display: block;

  &:hover {
    animation-name: check-observatory;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

@keyframes check-observatory {
  0% {
    background-color: var(--home-tabs-button-background);
    color: var(--home-tabs-button-text);
  }

  100% {
    background-color: var(--home-tabs-button-text);
    color: var(--home-tabs-button-background);
  }
}

.summary, .declaration {
  margin-bottom: 2em;
}

.stamp {
  margin-bottom: 3em;
}

.data {
  width: 100%;
  background-color: var(--home-top5-background);
}

.data-wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 90%;
}

.global-score {
  padding: 2em;
}

.global-score span:first-child, .subtitle-number, .number-websites span:first-child {
  font-size: 76px;
  line-height: 78px;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
  display: inline-block;
}

.global-score span:last-child,
.number-websites div span:first-child {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-family: "Lato";
  display: inline-block;
  margin-left: 1em;
  text-align: left;
}

.number-websites div span:last-child {
  margin-left: 1em;
  text-align: left;
}

.metadata {
  padding: 2em;
}

.metadata span:first-child, .quantity {
  font-size: 36px;
  line-height: 48px;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
}

.metadata span:nth-child(2), .subtitle, .quantity-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
}

.metadata span:last-child {
  font-size: 0.9em;
}

.divider {
  border-top: thin solid var(--home-tabs-border);
}

.conform:not(:last-child) {
  margin-bottom: 2em;
}

.subtitle {
  font-size: 18px;
}

.subtitle, .subtitle-number {
  text-align: left;
}

.quantity {
  width: 3em;
  text-align: right;
  padding-right: 0.5em;
}

.quantity-text {
  padding-left: 1em;
  padding-right: 2em;
}

.difference {
  font-weight: normal;
  font-size: 0.9em;
}

.green {
  border-left: solid 4px #15ac51;
}

.yellow {
  border-left: solid 4px #f3d609;
}

.red {
  border-left: solid 4px #e90018;
}

.bar {
  height: 1em;
  width: 15em;
}

.bar1 {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  //width: 12em;
}

.bar2 {
  margin-bottom: 0.5em;
}

.bar-green {
  background-color: #15ac51;
}

.bar-yellow {
  background-color:#f3d609;
}

.bar-red {
  background-color: #e90018;
}

.years {
  margin-left: 2em;
  opacity: 0.5;
  font-family: "Lato";
}

.years span:last-child {
  margin-bottom: 0.5em;
}

.gold {
  border-left: solid 4px #a87d00;
}

.silver {
  border-left: solid 4px #75797b;
}

.bronze {
  border-left: solid 4px #bc7448;
}

.bar-gold {
  background-color: #a87d00;
}

.bar-silver {
  background-color:#75797b;
}

.bar-bronze {
  background-color: #bc7448;
}

.last_updated {
  opacity: 0.8;
  margin-top: 0.2em;
  font-family: "Lato";
}