.welcome_container h2 {
    font-size: 50px !important;
    font-weight: bold !important;
    max-width: 16em;
}

.welcome_container h3 {
    font-size: 22px !important;
    max-width: 28em;
}

.top5_websites .top5_div button {
    border: 2px solid var(--AMA-Color-Brand-Primary) !important;
}

.top5_number {
    width: 36px;
    height: 36px;
    border: 2px solid var(--AMA-Color-Green-900);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
}

.top5_link {
    color: var(--AMA-Color-Brand-Primary);
    text-decoration: none !important;
}

.top5_link:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.censos_container {
    background-color: var(--AMA-Color-Blue-50);
}

.censos_container p {
    width: 60%;
}

.censos_container .censos_column i {
   font-size: 7em;
}

.flex-1 {
    flex: 1;
}

.tabs-grid .tabs-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 389px 1fr;
    margin-bottom: 50px;
}

.tabs-grid .tabs-container .nav-tabs {
    width: 100%;
    height: fit-content;
}

.tabs-grid .nav-tabs .nav-link {
    border-radius: 0px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.75em;
    font-weight: 700;
}

.tabs-grid .nav-tabs .nav-link.active {
    background-color: transparent;
    color: var(--AMA-Color-Text-Gray) !important;
    border-right: 5px solid var(--AMA-Color-Brand-Primary);
    border-bottom: 0px;
}

.tabs-grid .tabs_info_container {
    margin-left: 126px;
}

.tabs-grid .tabs_info_container li i {
    font-size: 50px;
    color: var(--AMA-Color-Brand-Primary)
}

.top5_best_good .top5_number {
    border: 0px;
    background-color: var(--AMA-Color-Background-Light-Darker);
}

.top5_best_good i {
    font-size: 35px;
}

.group_container {
    flex-direction: row;
    background-color: var(--AMA-Color-Background-Light-Lighter);
}

.group_container .first_column {
    flex: 1 1 100%;
}

.group_container .second_column {
    flex: 1 1 0%;
}

.group_container .quantity {
    text-align: right;
    padding-right: .5em;
}

.group_container .green {
    border-left: solid 4px var(--AMA-Color-Green-500);
}

.group_container .yellow {
    border-left: solid 4px var(--AMA-Color-Yellow-400);
}

.group_container .red {
    border-left: solid 4px var(--AMA-Color-System-Error);
}

.group_container .gold {
    border-left: solid 4px var(--AMA-Color-Yellow-600);
}

.group_container .silver {
    border-left: solid 4px var(--AMA-Color-Grey-400);
}

.group_container .bronze {
    border-left: solid 4px #bc7448;
}

.group_container .bar {
    width: 15em;
    height: 1em;
}

/* DARK MODE */
.main_dark .home_container {
    color: var(--AMA-Color-Text-Blue);
    background-color: var(--AMA-Color-Background-Dark-Lighter) !important;
}

.main_dark .welcome_section {
    background-color: var(--AMA-Color-Background-Dark-Lighter) !important;
    color: var(--AMA-Color-Background-White);
}

.main_dark .last_section,
.main_dark .section_statistics,
.main_content_home .tabs-grid .nav-tabs {
    background-color: var(--AMA-Color-Background-Dark-Lighter) !important;
}

.main_dark .container,
.main_content_home .top5_div span,
.main_content_home .top5_div p,
.main_content_home .tabs-grid .tabs_info_container,
.main_content_home .top5_best_good {
    color: var(--AMA-Color-Background-White);
}

.main_content_home .top5_number {
    border-color: var(--AMA-Color-Background-White);
}

.main_content_home .top5_link {
    color: var(--AMA-Color-Text-Blue) !important;
}

.main_content_home .top5_div button {
    background-color: var(--AMA-Color-Text-Blue) !important;
    color: var(--AMA-Color-Grey-900);
    border-color: var(--AMA-Color-Text-Blue) !important;
}

.main_content_home .top5_div button:hover {
    background-color: var(--AMA-Color-Background-Dark-Darker) !important;
    color:var(--AMA-Color-Text-Blue);
}

.main_content_home .tabs-grid .tabs_info_container li i {
    color: var(--AMA-Color-Text-Blue);
}

.main_content_home .tabs-grid .nav-tabs .nav-link {
    color: var(--AMA-Color-Background-White) !important;
}

.main_content_home .tabs-grid .nav-tabs .nav-link.active {
    color: var(--AMA-Color-Text-Blue) !important;
    border-right: 5px solid var(--AMA-Color-Text-Blue);
}

.main_content_home .censos_container {
    background-color: var(--AMA-Color-Brand-Primary);
    color: var(--AMA-Color-Background-White)
}

.main_content_home .censos_container .censos_img {
    filter: invert(100%) sepia(0%) saturate(7446%) hue-rotate(83deg) brightness(116%) contrast(115%);
}

.main_content_home .top5_best_good .top5_number {
    background-color: var(--AMA-Color-Background-Dark-Darker);
}

.main_content_home .group_container {
    background-color: var(--AMA-Color-Background-Dark-Darker);
    color: var(--AMA-Color-Background-White);
}

.main_dark .loadingContainer {
    color: var(--AMA-Color-Text-Blue);
}
  
.main_dark .dot {
    background-color: var(--AMA-Color-Text-Blue);
}


@media (min-width: 320px) and (max-width: 480px) {
    .top5_websites {
      flex-direction: column !important;
    }

    .top5_websites ul {
        padding-left: 0px;
    }

    .top5_websites .top5_div button {
        margin-bottom: 30px;
    }

    .censos_container div {
        flex-direction: column !important;
    }

    .censos_container .mobile {
        align-items: start !important;
    }

    .censos_container p {
        width: 100%;
    }
    
    .censos_container .censos_column {
        margin-bottom: 25px;
    }

    .tabs-container {
        display: flex !important;
        flex-direction: column !important;
    }

    .vertical-tabs .nav-tabs .nav-link.active {
        background-color: var(--AMA-Color-Brand-Primary);
        color: var(--AMA-Color-Background-White) !important;
        border: 0px;
    }
 
    .vertical-tabs .nav-tabs li button {
       height: fit-content;
    }

    .tabs-grid .tabs_info_container {
        margin-top: 25px;
        margin-left: 0px;
    }

    .top5_best_good {
        flex-direction: column !important; 
    }

    .top5_best_good .mobile_margin {
        margin-bottom: 15px;
    }

    .group_container {
        flex-direction: column !important;
    }

    .group_container .first_column {
        margin-bottom: 2em;
    }

    .group_container .second_column {
        padding-left: 0px;
    }

    .group_container .quantity {
        width: fit-content;
        padding-right: 0px;
    }

    .group_container .row_st_dc {
        flex-direction: column;
        margin-bottom: 1em !important;
    }

    .group_container .conform_container {
        margin-bottom: 1em;
    }

    .group_container .green {
        border-top: solid 4px var(--AMA-Color-Green-500);
        border-left: 0px;
        padding-top: 5px;
    }
    
    .group_container .yellow {
        border-top: solid 4px var(--AMA-Color-Yellow-400);
        border-left: 0px;
        padding-top: 5px;
    }
    
    .group_container .red {
        border-top: solid 4px var(--AMA-Color-System-Error);
        border-left: 0px;
        padding-top: 5px;
    }
    
    .group_container .gold {
        border-top: solid 4px var(--AMA-Color-Yellow-600);
        border-left: 0px;
        padding-top: 5px;
    }
    
    .group_container .silver {
        border-top: solid 4px var(--AMA-Color-Grey-400);
        border-left: 0px;
        padding-top: 5px;
    }
    
    .group_container .bronze {
        border-top: solid 4px #bc7448;
        border-left: 0px;
        padding-top: 5px;
    }

    /* DARK MODE MOBILE */
    .main_content_home .vertical-tabs .nav-tabs .nav-link.active {
        background-color: var(--AMA-Color-Text-Blue);
        color: var(--AMA-Color-Grey-900) !important;
        border: 0px;
    }
}