footer {
  background-color: var(--AMA-Color-Background-Light-Lighter);
}

footer .footer-menu {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .footer-menu li a {
  text-decoration: none !important;
  color: var(--AMA-Color-Brand-Primary);
}

footer .footer-menu li a:hover {
  text-decoration: underline !important;
}

.footer-logos {
  text-align: center;
}

.footer-logos li {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

@media (min-width: 576px) {
  .footer-logos li {
    display: inline-block;
    width: 25%;
  }
}

@media (min-width: 768px) {
  footer .footer-menu {
    flex-direction: row;
    justify-content: center;
  }

  footer .footer-menu li {
    display: inline-block;
  }

  .footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-logos li {
    display: initial;
    width: initial;
  }
}

footer .logo-selo {
  text-align: center;
}

footer .logo-selo img {
  max-width: 150px;
}

/* Dark Mode */

.dark_mode_footer {
  background-color: var(--AMA-Color-Blue-600);
  color: var(--AMA-Color-Text-Blue);
}

.dark_mode_footer li a {
  color: var(--AMA-Color-Text-Blue) !important;
}
