.field label,
.fieldUpload label {
  font-size: 1rem;
  color: var(--AMA-Color-Text-Gray);
  font-weight: 700;
}

.field input,
.fieldUpload input {
  height: 42px;
  border: 2px solid var(--AMA-Color-Brand-Primary) !important;
  background-color: var(--AMA-Color-Background-White);
  margin: 8px 0 8px 0;
  min-width: 50px;
  color: var(--AMA-Color-Text-Gray);
  font-weight: 400;
  font-size: 1em;
  font-family: var(--font-lato);
  border-radius: 0px;
}

.fieldUpload input {
  border-radius: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.field input:focus,
.fieldUpload input:focus {
  /* REVER o Boxshadow */
  box-shadow: none;
  border-color: var(--AMA-Color-Yellow-300) !important;
}

.field .form-control.is-invalid,
.fieldUpload .form-control.is-invalid {
  border-color: var(--AMA-Color-Red-500) !important;
}

.field .invalid-feedback,
.fieldUpload .invalid-feedback {
  color: var(--AMA-Color-Red-500);
  font-size: 1em;
  font-weight: 700;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

input[type="file"].form-control::file-selector-button {
  background-color: var(--AMA-Color-Brand-Primary);
  border-radius: 25px;
  color: var(--AMA-Color-Background-White);
  border: 0 solid;
  border-color: var(--AMA-Color-Brand-Primary);
  padding: 0px 10px;
  margin-left: -16px;
  height: 50px;
}
