.field label {
  font-size: 1rem;
  color: var(--ama-color-text-gray);
  font-weight: bold;
}

.field textarea {
  height: 100px;
  border: 2px solid var(--ama-color-brand-primary) !important;
  background-color: var(--ama-color-background-white);
  margin: 8px 0 8px 0;
  min-width: 50px;
  padding: 10px 16px;
  color: var(--ama-color-text-gray);
  font-weight: 400;
  font-size: 1em;
  font-family: var(--font-lato);

  border-radius: 0;
}

.field textarea:focus {
  /* REVER o Boxshadow */
  box-shadow: none;
}

.field .form-control.is-invalid {
  border-color: var(--ama-color-red-500) !important;
}

.field .invalid-feedback {
  color: var(--ama-color-red-500);
}
