<main id="main" fxLayout="row" fxLayoutAlign="center center">
  <section *ngIf="!loading && !error" fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-md="95" fxFlex.md="80" fxFlex.lg="80" fxFlex.gt-lg="60">
    <mat-card class="mat-typography">
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title>
          <h1>{{ "TAG.title" | translate }}</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <h2 *ngIf="!multi">{{ "TAG.subtitle" | translate }} {{ tag.name }}</h2>
          <h2 *ngIf="multi">{{ "TAG.subtitle2" | translate }} {{ tag.name }}</h2>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a mat-icon-button routerLink="/" matTooltip="{{ 'MISC.go_back' | translate }}">
          <mat-icon aria-label="'MISC.go_back' | translate">arrow_back</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
    <br>
    <app-tag-statistics [tag]="tag"></app-tag-statistics>
    <app-top-five-errors [data]="topFiveErrorsData"></app-top-five-errors>
    <app-top-five-best-practices [data]="topFiveBestPractices"></app-top-five-best-practices>
    <br>
    <app-websites-list [tag]="tag" [multi]="multi"></app-websites-list>
  </section>
  <span *ngIf="error">
    <strong>{{ "MISC.tag_error" | translate }}</strong>
  </span>
</main>
