:host {
  width: 87%;
  background-color: var(--statistics-background);
}

.statistics-wrapper {
  width: 90%;
  padding: 1em;
}

.first-row {
  margin-top: 2em;
  margin-bottom: 3em;

  span {
    display: block;
  }

  span:first-child {
    color: var(--statistics-text);
    font-family: Lato;
    font-size: 1.375em;
    font-weight: bold;
    letter-spacing: 0;
  }

  span:nth-child(2) {
    color: var(--statistics-text2);
    font-family: Lato;
    font-size: 1em;
    letter-spacing: 0;
  }

  div {
    span:first-child {
      color: var(--statistics-text);
      font-family: Lato;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
      padding-left: 16px;
    }

    span:nth-child(2) {
      color: var(--statistics-text);
      font-family: Lato;
      font-size: 1em;
      letter-spacing: 0;
      line-height: 20px;
      padding-left: 16px;
    }
  }
}

::ng-deep .reading-block {
  line-height: 40px;
  font-size: 4em !important;
  font-weight: bold !important;
  letter-spacing: 5px;
  overflow: unset !important;
  color: var(--statistics-text);
}

::ng-deep .reading-label {
  color: var(--statistics-text);
}

.second-row {
  margin-bottom: 3em;

  div {
    width: 100%;
  }

  &:not(ngx-gauge) {
    background-color: var(--statistics-header-background);
    padding-left: 32px;
    padding-right: 32px;
  }
}

.metadata {
  .percentage {
    display: inline-block !important;
    color: var(--statistics-text);
    font-family: "Lato Black";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
  }

  div {
    div {
      span {
        display: block;
        text-align: center;
      }

      span:first-child {
        height: 26px;
        color: var(--statistics-text);
        font-family: "Lato";
        font-size: 2.25em;
        letter-spacing: 0;
        font-weight: 700;
        line-height: 20px;
        padding: 0.2em;
      }

      span:nth-child(2) {
        height: 11px;
        color: var(--statistics-text);
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 20px;
        padding: 0.2em;
      }

      span:last-child {
        height: 11px;
        color: var(--statistics-text);
        font-family: Lato;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
        padding: 0.3em;
      }
    }
  }

  .upper-row,
  .lower-row {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .upper-row {
    border-bottom: thin solid var(--background);
  }
}
