<section fxLayout="row" fxLayoutAlign="center center">
  <div class="statistics-wrapper">
    <div class="first-row" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <span>{{ "ALL_TAGS.statistics_title" | translate }}</span>
        <span>{{ "ALL_TAGS.statistics_subtitle" | translate }}</span>
      </div>
      <div>
        <span>{{ "STATISTICS.newest_page_updated" | translate }}</span>
        <span>{{ listTags.recentPage | date }}</span>
      </div>
      <div>
        <span>{{ "STATISTICS.oldest_page_updated" | translate }}</span>
        <span>{{ listTags.oldestPage | date }}</span>
      </div>
    </div>
    <br>
    <div class="second-row">
      <ngx-gauge
        class="score"
        [type]="'arch'" 
        [thick]="'10'" 
        [cap]="'round'"
        [value]="listTags.score | toFixed"
        [label]="'STATISTICS.gauge.label' | translate"
        [min]="0"
        [max]="10"
        [duration]="2000"
        [thresholds]="thresholdConfig">
      </ngx-gauge>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <div class="metadata" fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <span>{{ listTags.tags.length }}</span>
            <span>{{ "STATISTICS.tags" | translate }}</span>
          </div>
          <div>
            <span>{{ listTags.nEntities }}</span>
            <span>{{ "STATISTICS.entities" | translate }}</span>
          </div>
          <div>
            <span>{{ listTags.nWebsites }}</span>
            <span>{{ "STATISTICS.websites" | translate }}</span>
          </div>
          <div>
            <span>{{ listTags.nPages }}</span>
            <span>{{ "STATISTICS.pages" | translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="third-row">
      <span fxFlex></span>
      <button type="button" (click)="openScoreDistributionDialog()">
        {{ "STATISTICS.score_distribution" | translate }}
      </button>
      <span fxFlex="1" fxShow.gt-sm></span>
      <button type="button" (click)="openCorrectionDistributionDialog()">
        {{ "STATISTICS.correction_distribution" | translate }}
      </button>
      <span fxFlex="1" fxShow.gt-sm></span>
      <button type="button" (click)="openErrorDistributionDialog()">
        {{ "STATISTICS.error_distribution" | translate }}
      </button>
    </div>
  </div>
</section>