<section fxLayout="row" fxLayoutAlign="center center">
  <div class="statistics-wrapper">
    <div gdRows="auto 1fr" gdColumns="300px 1fr">
      <div class="first-row">
        <span>{{ "DIRECTORIES.statistics_title" | translate }}</span>
        <span>{{ "DIRECTORIES.statistics_subtitle" | translate }}</span>
      </div>
      <div
        class="first-row"
        fxAlign="row"
        fxLayoutAlign="start center"
        gdColumns="50% 50%"
      >
        <div>
          <span>{{ "STATISTICS.oldest_page_updated" | translate }}</span>
          <span>{{ directory.oldestPage | date | customDate }}</span>
        </div>
        <div>
          <span>{{ "STATISTICS.newest_page_updated" | translate }}</span>
          <span>{{ directory.recentPage | date | customDate }}</span>
        </div>
      </div>
      <ngx-gauge
        class="score second-row"
        [type]="'arch'"
        [thick]="'10'"
        [cap]="'round'"
        [value]="directory.score | toFixed"
        [label]="'STATISTICS.gauge.label' | translate"
        [min]="0"
        [max]="10"
        [duration]="2000"
        [thresholds]="thresholdConfig"
      >
      </ngx-gauge>
      <div
        class="metadata second-row"
        fxLayout="row"
        fxLayoutAlign="space-around center"
      >
        <div>
          <span>{{ directory.nEntities }}</span>
          <span>{{ "STATISTICS.entities" | translate }}</span>
        </div>
        <div>
          <span>{{ directory.nWebsites }}</span>
          <span>{{ "STATISTICS.websites" | translate }}</span>
        </div>
        <div>
          <span>{{ directory.nPages }}</span>
          <span>{{ "STATISTICS.pages" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="third-row">
      <span fxFlex></span>
      <button type="button" (click)="openScoreDistributionDialog()">
        {{ "STATISTICS.score_distribution" | translate }}
      </button>
      <span fxFlex="1" fxShow.gt-sm></span>
      <button type="button" (click)="openCorrectionDistributionDialog()">
        {{ "STATISTICS.correction_distribution" | translate }}
      </button>
      <span fxFlex="1" fxShow.gt-sm></span>
      <button type="button" (click)="openErrorDistributionDialog()">
        {{ "STATISTICS.error_distribution" | translate }}
      </button>
    </div>
  </div>
</section>
