:host {
  width: 87%;
  background-color: var(--statistics-background);
}

.statistics-wrapper {
  width: 90%;
  padding: 1em;
}

.first-row {
  margin-top: 2em;
  margin-bottom: 3em;

  span {
    display: block;
  }

  span:first-child {
    color: var(--statistics-text);
    font-family: Lato;
    font-size: 1.375em;
    font-weight: bold;
    letter-spacing: 0;
  }

  span:nth-child(2) {
    color: var(--statistics-text2);
    font-family: Lato;
    font-size: 1em;
    letter-spacing: 0;
  }

  div {
    span:first-child {
      color: var(--statistics-text);
      font-family: Lato;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
      padding-left: 16px;
      margin-bottom: 0.2em;
    }

    span:nth-child(2) {
      color: var(--statistics-text);
      font-family: Lato;
      font-size: 1em;
      letter-spacing: 0;
      line-height: 20px;
      padding-left: 16px;
    }
  }
}

::ng-deep .reading-block {
  line-height: 40px;
  font-size: 4em !important;
  font-weight: bold !important;
  letter-spacing: 5px;
  overflow: unset !important;
  color: var(--statistics-text);
}

::ng-deep .reading-label {
  color: var(--statistics-text);
}

.second-row {
  margin-bottom: 3em;

  div {
    width: 100%;
  }
}

.metadata {
  background-color: var(--background);

  div {
    span {
      display: block;
      text-align: center;
    }

    span:first-child {
      height: 26px;
      color: var(--statistics-text);
      font-family: "Lato";
      font-size: 2.25em;
      letter-spacing: 0;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 0.2em;
    }

    span:last-child {
      height: 11px;
      color: var(--statistics-text);
      font-family: Lato;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
}

.third-row {
  margin-bottom: 2em;
}

.third-row button {
  color: var(--statistics-button-text);
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 25px;
  border: none;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}

.third-row {
  button:first-of-type {
    background-color: var(--statistics-button-background1);
  }

  button:nth-of-type(2) {
    background-color: var(--statistics-button-background2);
  }

  button:nth-of-type(3) {
    background-color: var(--statistics-button-background3);
  }
}
