.grid_container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}

.second_column {
    place-content: center flex-start;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
}

.last_column {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-around;
    align-items: center;
    background-color: var(--AMA-Color-Background-Light-Lighter);
    text-align: center;
}

.grid_container_mobile {
    display: none;
}

.first {
    border-bottom: 1px solid var(--AMA-Color-Grey-50);
}

/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
    .grid_container {
        display: none;
    }

    .grid_container_mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .second_row {
        align-self: center;
    }

    .fourth_row {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-around;
        align-items: center;
        background-color: var(--AMA-Color-Background-Light-Darker);
        text-align: center;
        padding: 1em;
    }

    .margin_mobile {
        margin-bottom: 2em;
    }

    .buttons_mobile {
        display: flex;
        flex-direction: column !important;
    }

    /* DARK MODE */
    .section_container.dark .grid_container_mobile .fourth_row {
        background-color: var(--AMA-Color-Background-Dark-Darker) !important;
        color: var(--AMA-Color-Background-White);
    }

    .section_container.dark {
        color: var(--AMA-Color-Background-White);
    }
}


/* DARK MODE */
.section_container.dark {
    color: var(--AMA-Color-Background-White) !important;
}

.section_container.dark .second_row text {
    fill: var(--AMA-Color-Background-White);
}

.section_container.dark .grid_container .last_column {
    background-color: var(--AMA-Color-Background-Dark-Darker) !important;
    color: var(--AMA-Color-Background-White);
}