.link-container {
  display: flex;
  align-items: center;
  gap: 10px !important;
  flex-direction: row;
  color: var(--ama-color-brand-primary) !important;
}

.link-container a {
  color: var(--ama-color-brand-primary) !important;
  text-decoration-color: var(--ama-color-brand-primary) !important;
}

.link-container a:focus {
  border: 3px solid var(--ama-color-yellow-400);
  box-shadow: none;
  outline: 0;
}
