<!--<br *ngIf="errorsA.length > 0 || errorsAA.length > 0 || errorsAAA.length > 0">
<mat-card *ngIf="errorsA.length > 0 || errorsAA.length > 0 || errorsAAA.length > 0">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "WEBSITE.top_5_errors.title" | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2 *ngIf="errorsA && errorsA.length > 0">{{ "WEBSITE.top_5_errors.errorA_title" | translate }}</h2>
    <mat-list *ngIf="errorsA && errorsA.length > 0">
      <mat-list-item *ngFor="let e of errorsA; let i = index;">
        <p>
          {{ i+1 }}.
          <span *ngIf="e.n_pages > 1" innerHTML="{{ 'WEBSITE.top_5_errors.message.p' | translate:{ value: e.n_pages } }}"></span>
          <span *ngIf="e.n_pages === 1" innerHTML="{{ 'WEBSITE.top_5_errors.message.s' | translate:{ value: e.n_pages } }}"></span>
          <span innerHTML="{{ 'RESULTS.' + e['key'] | translate | html }}"></span>
        </p>
      </mat-list-item>
    </mat-list>
    <h2 *ngIf="errorsAA && errorsAA.length > 0">{{ "WEBSITE.top_5_errors.errorAA_title" | translate }}</h2>
    <mat-list *ngIf="errorsAA && errorsAA.length > 0">
      <mat-list-item *ngFor="let e of errorsAA; let i = index;">
        <p>
          {{ i+1 }}.
          <span *ngIf="e.n_pages > 1" innerHTML="{{ 'WEBSITE.top_5_errors.message.p' | translate:{ value: e.n_pages } }}"></span>
          <span *ngIf="e.n_pages === 1" innerHTML="{{ 'WEBSITE.top_5_errors.message.s' | translate:{ value: e.n_pages } }}"></span>
          <span innerHTML="{{ 'RESULTS.' + e['key'] | translate | html }}"></span>
        </p>
      </mat-list-item>
    </mat-list>
    <h2 *ngIf="errorsAAA && errorsAAA.length > 0">{{ "WEBSITE.top_5_errors.errorAAA_title" | translate }}</h2>
    <mat-list *ngIf="errorsAAA && errorsAAA.length > 0">
      <mat-list-item *ngFor="let e of errorsAAA; let i = index;">
        <p>
          {{ i+1 }}.
          <span *ngIf="e.n_pages > 1" innerHTML="{{ 'WEBSITE.top_5_errors.message.p' | translate:{ value: e.n_pages } }}"></span>
          <span *ngIf="e.n_pages === 1" innerHTML="{{ 'WEBSITE.top_5_errors.message.s' | translate:{ value: e.n_pages } }}"></span>
          <span innerHTML="{{ 'RESULTS.' + e['key'] | translate | html }}"></span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
-->