:host {
  width: 87%;
  background-color: var(--statistics-background);
}

.statistics-wrapper {
  width: 90%;
  padding: 1em;

  div {
    width: 100%;
  }
}

h3 {
  color: var(--statistics-text);
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}