/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', Roboto, Monospace;
  font-size: 16px;
  background-color: var(--background);
}


[role="dialog"] {
  background-color: var(--statistics-background) !important;
}

*,
*::before,
*::after {
  box-sizing: unset;
}