<main fxLayout="column" fxLayoutAlign="center center">
  <section>
    <nav fxLayout="row">
      <a href="https://www.acessibilidade.gov.pt/">{{ "HEADER.NAV.location" | translate }}</a>
      <span>></span>
      <a routerLink="/">{{ "HEADER.NAV.observatory" | translate }}</a>
      <span>></span>
      <a [routerLink]="['/', 'directories']">{{ "HEADER.NAV.directories" | translate }}</a>
      <span>></span>
      <span>{{ directory.name }}</span>
    </nav>
  </section>
  <section id="main" class="info">
    <div class="observatory">{{ "DIRECTORY.title" | translate }}</div>
    <h2>{{ "DIRECTORY.subtitle" | translate }} {{ directory.name }}</h2>
  </section>
  <app-directory-statistics [directory]="directory"></app-directory-statistics>
  <br>
  <br>
  <app-websites-list [directory]="directory"></app-websites-list>
</main>
