path {
  stroke-linecap: round;
  stroke-width: 6;
}

.grey {
  stroke: var(--ama-color-background-light-darker);
}

.red {
  stroke: var(--ama-color-red-500);
}

.green {
  stroke: var(--ama-color-green-500);
}

.yellow {
  stroke: var(--ama-color-yellow-400);
}

.animated {
  transition: stroke-dashoffset 3s ease-in-out !important;
}
