<main id="main" fxLayout="row" fxLayoutAlign="center center">
  <section fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-md="95" fxFlex.md="80" fxFlex.lg="80" fxFlex.gt-lg="60">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title>
          <h1>{{ "ALL_TAGS.title" | translate }}</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <h2>{{ "ALL_TAGS.subtitle" | translate }}</h2>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <br>
    <app-tags-statistics [listTags]="listTags"></app-tags-statistics>
    <br *ngIf="listTags.tags.length > 0">
    <app-tags-top-five *ngIf="listTags.tags.length > 0" [listTags]="listTags"></app-tags-top-five>
    <br *ngIf="listTags.tags.length > 0">
    <app-tags-list *ngIf="listTags.tags.length > 0" [listTags]="listTags"></app-tags-list>
  </section>
</main>
