.first-half {
  width: 100%;
  background-color: var(--first-half-background);

  section {
    width: 87%;
  }

  section:first-child {
    margin-top: 3em;
  }
}

nav {
  padding-bottom: 3em;
}

nav span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

nav span,
nav a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato";
  color: var(--breadcrumbs-text);
  cursor: pointer;
}

nav a {
  text-decoration: underline;
}

nav span:last-child {
  color: var(--breadcrumbs-text2);
  cursor: default;
}

.tabs {
  width: 100%;
  font-family: "Lato", sans-serif;

  button {
    cursor: pointer;
  }
}

[role="tablist"] {
  margin: 0 0 -0.1em;
  overflow: visible;
  display: inline-block;
}

[role="tab"] {
  font-size: 1.75em;
  color: var(--home-tabs-text);
  font-weight: 700;
  font-family: "Lato";
  opacity: 1 !important;
  border: none;
  border-right: 5px solid transparent;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: block;
  background-color: var(--first-half-background);
  text-align: left;
}

.divider {
  border-top: thin solid var(--home-tabs-border);
}

[role="tab"][aria-selected="true"] {
  color: var(--home-tabs-active-text);
  border-right: 5px solid var(--home-tabs-active-border);
}

[role="tabpanel"] {
  border: none;
  display: inline-block;
  margin-left: 126px;
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: none;
}

[role="tabpanel"].is-hidden {
  display: none !important;
}

[role="tabpanel"]:focus {
  outline: none;
}

[role="tabpanel"] h2 {
  font-size: 42px;
  line-height: 48px;
  color: var(--home-tabs-active-text);
  font-weight: 900;
  font-family: "Lato";
}

[role="tabpanel"] p,
[role="tabpanel"] ul {
  font-size: 18px;
  line-height: 24px;
  color: var(--home-tabs-active-text);
  font-weight: 400;
  font-family: "Lato";
  list-style: none;
}

[role="tabpanel"] ul {
  padding-left: 0;
  margin-bottom: 3em;
}

[role="tabpanel"] ul li {
  padding: 0.5em;
}

[role="tabpanel"] ul li::before {
  content: "\2022";
  color: var(--home-tabs-text);
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 0.5em;
  display: inline-block;
}

.directories-link, .numbers-link {
  font-size: 1em;
  line-height: 20px;
  color: var(--home-tabs-button-text);
  background-color: var(--home-tabs-button-background);
  font-weight: 700;
  font-family: "Lato";
  text-decoration: none;
  padding: 1em;
  border-radius: 30px;
  border: 2px solid var(--home-tabs-button-background);

  &:hover {
    animation-name: check-observatory;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}

.numbers-link {
  margin-top: 3em;
  display: block;
  width: auto;
}

@keyframes check-observatory {
  0% {
    background-color: var(--home-tabs-button-background);
    color: var(--home-tabs-button-text);
  }

  100% {
    background-color: var(--home-tabs-button-text);
    color: var(--home-tabs-button-background);
  }
}

.disability_sections {
  background-image: linear-gradient(
    to bottom,
    var(--first-half-background),
    var(--first-half-background) 50%,
    var(--background) 50%
  );

  padding-top: 50px;
  padding-bottom: 6em;

  .out_wrapper {
    width: 87%;
    background-color: var(--home-4all-background);
    color: var(--home-4all-text);
  }

  .wrapper {
    padding: 64px;
  }

  h2 {
    font-size: 2em;
    font-weight: 700;
    font-family: "Lato";
    margin: 0;
  }

  .census {
    font-size: 0.875em;
    font-weight: 400;
    font-family: "Lato";
    text-align: right;
  }

  p {
    width: 60%;
    font-size: 1.125em;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 2em;
  }

  svg path,
  svg circle,
  svg ellipse {
    fill: var(--home-4all-text);
  }

  .disability {
    margin-top: 0.2em;
    font-size: 42px;
    line-height: 48px;
    font-weight: 900;
    font-family: "Lato";
    text-align: center;
  }

  .disability + span {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
  }
}

.wrapper {
  padding: 1em;
  width: 90%;
}

.second-half {

  section {
    width: 87%;
  }

}

.second-half section:first-child {
  margin-bottom: 6em;
  color: var(--home-top5-text);

  h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Lato";
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Lato";
    margin-bottom: 3em;
  }

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  ul li span:first-child {
    border: 2px solid var(--home-top5-text);
    font-size: 16px;
    line-height: 50px;
    font-weight: 700;
    font-family: "Lato";
    margin-right: 1em;
    display: inline-block;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
  }

  ul li span:nth-child(2) {
    font-size: 18px;
    line-height: 50px;
    
    a {
      color: var(--home-top5-list-text);
    }

    font-weight: 700;
    font-family: "Lato";
    margin-right: 1.5em;
  }

  ul li span:last-child {
    font-size: 24px;
    line-height: 50px;
    color: var(--home-top5-text);
    font-weight: 700;
    font-family: "Lato";
  }
}


.numbers_section {
  color: var(--home-numbers-text);
  background-color: var(--first-half-background);
  fill: var(--home-numbers-text);
  padding-bottom: 2em;

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Lato";
  }

  .summary {
    background-color: var(--home-top5-background);
  }

  .global-score {
    padding: 2em;
  }

  .global-score span:first-child {
    font-size: 76px;
    line-height: 78px;
    font-weight: 900;
    font-family: "Lato";
    text-align: center;
    display: inline-block;
  }

  .global-score span:last-child {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: "Lato";
    display: inline-block;
    margin-left: 1em;
  }

  .metadata {
    padding: 2em;
  }

  .metadata span:first-child {
    font-size: 36px;
    line-height: 48px;
    font-weight: 900;
    font-family: "Lato";
    text-align: center;
  }

  .metadata span:nth-child(2) {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
  }

  .metadata span:last-child {
    font-size: 0.9em;
  }

  .topsFive {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .topsFive h2 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Lato";
    margin-left: 12px;
  }

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul li span:first-child {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    font-family: "Lato";
    margin-right: 1em;
    border-radius: 50%;
    width: 2.5em;
    height: 2.3em;
    text-align: center;
    background-color: var(--background);
  }

  ul li span:nth-child(2) {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: "Lato";
    width: 100%;
  }
}

.top-5-last-updated {
  margin-bottom: 1em;
}

.last_updated {
  opacity: 0.8;
  margin-top: 0.2em;
  font-family: "Lato";
}

.eu-logo {
  width: 5em;
}

::ng-deep .tooltip-entity {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  color: var(--table-header-text);
}