<main id="main" fxLayout="column" fxLayoutAlign="center center">
  <section>
    <nav fxLayout="row">
      <a href="https://www.acessibilidade.gov.pt/">Acessibilidade.gov.pt</a>
      <span>></span>
      <a routerLink="/">Observatório</a>
      <span>></span>
      <a [routerLink]="['/', 'directories']">Directories</a>
    </nav>
  </section>
  <section class="info">
    <div class="observatory">Observatório</div>
    <h1>Diretórios</h1>
  </section>
  <app-tags-statistics [listTags]="listTags"></app-tags-statistics>
  <!--<app-tags-list *ngIf="listTags.tags.length > 0" [listTags]="listTags"></app-tags-list>-->
</main>
