<section fxLayout="row" fxLayoutAlign="center center">
  <div class="table-wrapper">
    <h1>{{ "TAG.table.title" | translate }}</h1>
    <h2>{{ "TAG.table.subtitle" | translate }} {{ tag.name }}</h2>
    <table matSort matSortActive="rank" matSortDisableClear
      matSortDirection="asc" (matSortChange)="sortData($event)">
      <thead>
        <tr>
          <th mat-sort-header="rank">
            {{ "TAG.table.rank" | translate }}
          </th>
          <th class="name">
            {{ "TAG.table.name" | translate }}
          </th>
          <th>
            {{ "TAG.table.score" | translate }}
          </th>
          <th>
            {{ "TAG.table.pages" | translate }}
          </th>
          <th colspan="3">
            {{ "TAG.table.levels" | translate }}
          </th>
        </tr>
        <tr>
          <th colspan="4"></th>
          <th>
            {{ "ALL_TAGS.table.A" | translate }}
          </th>
          <th>
            {{ "ALL_TAGS.table.AA" | translate }}
          </th>
          <th>
            {{ "ALL_TAGS.table.AAA" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let website of sortedData">
          <td>{{ website.rank }}</td>
          <td class="name">
            <a [routerLink]="[website.id]">{{ website.name }}</a>
          </td>
          <td>{{ website.getScore() | toFixed }}</td>
          <td>{{ website.pages.length }}</td>
          <td>{{ website.A }}</td>
          <td>{{ website.AA }}</td>
          <td>{{ website.AAA }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        {{ indicator1 }} - {{ indicator2 }} {{ "TAG.table.paginator.of" | translate }} {{ websites.length }} {{ "TAG.table.paginator.items" | translate }}
      </div>
      <div>
        {{ "TAG.table.paginator.see" | translate }} 
        <select name="items" (change)="changeItemsPerPage($event)">
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        {{ "TAG.table.paginator.per_page" | translate }}
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button type="button" (click)="firstPage()" [disabled]="indicator1 === 1"><<</button>
        <button type="button" (click)="previousPage()" [disabled]="indicator1 === 1"><</button>
        <button type="button" (click)="nextPage()" [disabled]="indicator2 === websites.length">></button>
        <button type="button" (click)="lastPage()" [disabled]="indicator2 === websites.length">>></button>
      </div>
    </div>
    <span class="note">
      {{ "TAG.table.note" | translate }}
    </span>
  </div>
</section>