:host {
  width: 87%;
  background-color: var(--statistics-background);
}

.table-wrapper {
  width: 90%;
  padding: 1em;
  margin-top: 32px;
  margin-bottom: 32px;
}

h3 {
  color: var(--table-title);
  font-family: Lato;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
  padding-bottom: 4px;
}

h4 {
  color: var(--table-subtitle);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  padding-bottom: 24px;
}

table {
  width: 100%;
  border-spacing: 0;
}

table thead {
  color: var(--table-header-text);
}

table thead tr:first-child {
  background-color: var(--table-header1);
}

table thead tr:last-child {
  background-color: var(--table-header2);
  opacity: 0.9;

  th {
    text-align: right;
    padding-right: 16px;
  }
}

table thead tr th {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  padding: 1em;
}

.aright {
  text-align: right !important;
  padding-left: 0;
}

table thead tr th:nth-child(1),
table thead tr th:nth-child(2) {
  text-align: left;
}

table thead tr th:nth-child(3) {
  text-align: center;
}

table thead tr th:nth-child(4),
table thead tr th:nth-child(5),
table thead tr th:nth-child(6),
table thead tr th:nth-child(7) {
  text-align: right;
}

::ng-deep .mat-sort-header-stem {
  color: var(--table-header-text);
}

::ng-deep .mat-sort-header-indicator {
  color: var(--table-header-text);
}

.name {
  width: 50%;
}

table tbody tr td {
  border-bottom: thin solid var(--table-border);
}

table tbody tr td:not(.name) {
  color: var(--table-text);
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 80px;
  text-align: center;
}

td.name a {
  color: var(--table-directory-name);
  text-decoration: none;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 80px;
  text-align: center;
  margin-left: 1em;
}

table tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 16px;
}

table tbody tr td:nth-child(3) {
  font-size: 18px;
  text-align: center;
}

table tbody tr td:nth-child(4),
table tbody tr td:nth-child(5),
table tbody tr td:nth-child(6),
table tbody tr td:nth-child(7) {
  text-align: right;
  padding-right: 16px;
}

table tbody tr:hover {
  td {
    background-color: var(--table-hover);

    a {
      text-decoration: underline;
    }
  }
}

.pagination div {
  padding: 2em;
  color: var(--table-pagination-text);
}

.pagination div button {
  margin: 0.5em;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5em;
  width: 50px;
  height: 50px;
  border: none;
  color: var(--table-pagination-button-text);
  background-color: var(--table-pagination-button-background);
  cursor: pointer;
}

.pagination div button:disabled {
  opacity: 0.3;
}

select {
  padding: 0.5em;
  background-color: var(--table-pagination-select-background);
  color: var(--table-pagination-select-text);
  border: 2px solid var(--table-pagination-select-border);
}

.note {
  color: var(--table-text);
}

.flip-image {
  transform: scaleX(-1);
}
