<section fxLayout="row" fxLayoutAlign="center center">
  <div class="table-wrapper">
    <h3>{{ "TAG.table.title" | translate }}</h3>
    <h4>{{ "TAG.table.subtitle" | translate }} {{ tag.name }}</h4>
    <table
      matSort
      matSortActive="rank"
      matSortDisableClear
      matSortDirection="asc"
      (matSortChange)="sortData($event)"
    >
      <thead>
        <tr>
          <th mat-sort-header="rank">
            {{ "TAG.table.rank" | translate }}
          </th>
          <th class="name">
            {{ "TAG.table.name" | translate }}
          </th>
          <th>
            {{ "TAG.table.score" | translate }}
          </th>
          <th>
            {{ "TAG.table.pages" | translate }}
          </th>
          <th colspan="3">
            {{ "TAG.table.levels" | translate }}
          </th>
        </tr>
        <tr>
          <th colspan="4"></th>
          <th class="aright">
            {{ "ALL_TAGS.table.A" | translate }}
          </th>
          <th class="aright">
            {{ "ALL_TAGS.table.AA" | translate }}
          </th>
          <th class="aright">
            {{ "ALL_TAGS.table.AAA" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let website of sortedData">
          <td>{{ website.rank }}</td>
          <td class="name">
            <a [routerLink]="[website.id]">{{ website.name }}</a>
          </td>
          <td>{{ website.getScore() | toFixed }}</td>
          <td>{{ website.pages.length }}</td>
          <td>{{ website.A }}</td>
          <td>{{ website.AA }}</td>
          <td>{{ website.AAA }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        {{ indicator1 }} - {{ indicator2 }}
        {{ "TAG.table.paginator.of" | translate }} {{ websites.length }}
        {{ "TAG.table.paginator.items" | translate }}
      </div>
      <div>
        {{ "TAG.table.paginator.see" | translate }}
        &nbsp;
        <select name="items" (change)="changeItemsPerPage($event)">
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        &nbsp;
        {{ "TAG.table.paginator.per_page" | translate }}
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button
          type="button"
          (click)="firstPage()"
          [disabled]="indicator1 === 1"
        >
          <img
            src="../../../assets/icons/icon_pages_last-page-arrow.svg"
            alt="primeira página"
            class="flip-image"
          />
        </button>
        <button
          type="button"
          (click)="previousPage()"
          [disabled]="indicator1 === 1"
        >
          <img
            src="../../../assets/icons/icon_pages_next.svg"
            alt="página anterior"
            class="flip-image"
          />
        </button>
        <button
          type="button"
          (click)="nextPage()"
          [disabled]="indicator2 === websites.length"
        >
          <img
            src="../../../assets/icons/icon_pages_next.svg"
            alt="próxima página"
          />
        </button>
        <button
          type="button"
          (click)="lastPage()"
          [disabled]="indicator2 === websites.length"
        >
          <img
            src="../../../assets/icons/icon_pages_last-page-arrow.svg"
            alt="última página"
          />
        </button>
      </div>
    </div>
    <span class="note">
      {{ "TAG.table.note" | translate }}
    </span>
  </div>
</section>
