<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "TAG.table.title" | translate }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2 *ngIf="!multi">{{ "TAG.table.subtitle" | translate }} {{ tag.name }}</h2>
      <h2 *ngIf="multi">{{ "TAG.table.subtitle2" | translate }} {{ tag.name }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="table table-bordered cats-table" matSort matSortActive="rank" matSortDisableClear matSortDirection="asc" (matSortChange)="sortData($event)">
      <thead>
        <tr>
          <th rowspan="2" fxHide.lt-md mat-sort-header="rank">
            {{ "TAG.table.rank" | translate }}
          </th>
          <th rowspan="2" width="60%" mat-sort-header="name">
            {{ "TAG.table.name" | translate }}
          </th>
          <th rowspan="2" mat-sort-header="score">
            {{ "TAG.table.score" | translate }}
          </th>
          <th rowspan="2" fxHide.lt-md mat-sort-header="pages">
            {{ "TAG.table.pages" | translate }}
          </th>
          <th colspan="3" fxHide.lt-sm>
            {{ "TAG.table.levels" | translate }}
          </th>
        </tr>
        <tr>
          <th fxHide.lt-sm mat-sort-header="A">
            {{ "TAG.table.A" | translate }}
          </th>
          <th fxHide.lt-sm mat-sort-header="AA">
            {{ "TAG.table.AA" | translate }}
          </th>
          <th fxHide.lt-sm mat-sort-header="AAA">
            {{ "TAG.table.AAA" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let website of sortedData">
          <td fxHide.lt-md>{{ website.rank }}</td>
          <td>
            <a [routerLink]="[website.id]">{{ website.name }}</a>
          </td>
          <td>{{ website.getScore() | toFixed }}</td>
          <td fxHide.lt-md>{{ website.pages.length }}</td>
          <td fxHide.lt-sm>{{ website.A }}</td>
          <td fxHide.lt-sm>{{ website.AA }}</td>
          <td fxHide.lt-sm>{{ website.AAA }}</td>
        </tr>
      </tbody>
    </table>
    <span>
      {{ "TAG.table.note" | translate }}
    </span>
  </mat-card-content>
</mat-card>
