<br *ngIf="success && success.length > 0">
<mat-card *ngIf="success && success.length > 0">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ "WEBSITE.top_5_best_practices.title" | translate }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let s of success; let i = index;">
        <p>
          {{ i+1 }}.
          <span *ngIf="s.n_pages > 1" innerHTML="{{ 'WEBSITE.top_5_best_practices.message.p' | translate:{ value: s.n_pages } }}"></span>
          <span *ngIf="s.n_pages === 1" innerHTML="{{ 'WEBSITE.top_5_errors.message.s' | translate:{ value: s.n_pages } }}"></span>
          <span innerHTML="{{ 'RESULTS.' + s['key'] | translate | html }}"></span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>