:host {
	width: 100%;
}

.cats-table {
  thead {
    background-color: #eee;
  }

  td, th {
    padding: 0.5em;
  }

  th {
    vertical-align: middle;
  }

  td:nth-child(2) {
    text-align: left;
  }
}

.websites-conform {
  text-align: center;
}

.mat-sort-header-button {
  outline: none !important;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.show_websites_button {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
