.table_title {
    color: black;
    font-family: Lato;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 48px;
}

.search_container {
    width: 100%;
    background-color: var(--AMA-Color-Brand-Primary);
}

.search_container .table_primary tbody tr {
    vertical-align: middle;
    background-color: var(--AMA-Color-Background-White) !important;
}

.search_container .table tbody tr:hover {
    background-color: var(--AMA-Color-Background-Light-Darker) !important;
}

.span_subtitle {
    height: 11px;
    font-size: 1em;
}

.search_container label {
    font-weight: 700;
    font-size: large;
    color: var(--AMA-Color-Background-White);
}

.no_data {
    font-size: 20px;
    color: var(--AMA-Color-Background-White);
}


@media (min-width: 320px) and (max-width: 480px) {
    .title_container_title {
      font-size: 38px;
      font-weight: bold !important;
    }
}


/* DARK MODE */
.main_content_directories {
    background-color: var(--AMA-Color-Background-Dark-Lighter) !important;
    color: var(--AMA-Color-Background-White);
}

.main_dark .breadcrumb .breadcrumb-item:not(:first-child) {
    background-image: url("../../../public/img/chevron-right-light.svg");
}
  
.main_dark .breadcrumb-item,
.main_dark .breadcrumb-item a {
    color: var(--AMA-Color-Text-Blue) !important;
}

.main_dark .observatorio {
    color: var(--AMA-Color-Grey-900);
    background-color: var(--AMA-Color-Text-Blue);
    border-color: transparent;
}

.main_dark .page_title {
    color: var(--AMA-Color-Background-White);
}

.main_content_directories .table_secondary tr {
    background-color: var(--AMA-Color-Background-Dark-Lighter) !important;
}

.main_content_directories .search_container .table_primary tbody tr {
    vertical-align: middle;
    background-color: var(--AMA-Color-Background-Dark-Lighter) !important;
}

.main_content_directories .search_container .table tbody tr:hover {
    background-color: var(--AMA-Color-Background-Dark-Darker) !important;
}

.main_content_directories .section_container h3 {
    color: var(--AMA-Color-Background-White);
}