.search_container {
    width: 100%;
    background-color: var(--ama-color-brand-primary);
    color: var(--ama-color-background-white);
}

/* DARK MODE */
.main_content_directories {
    background-color: var(--ama-color-background-dark-lighter) !important;
    color: var(--ama-color-background-white);
}

.main_dark .observatorio {
    color: var(--ama-color-grey-900);
    background-color: var(--ama-color-text-blue);
    border-color: transparent;
}

.main_dark .page_title,
.main_content_directories .section_container h3 {
    color: var(--ama-color-background-white);
}