table:first-child {
  margin-top: 1em;
}

table:not(:first-child) {
  margin-top: 2em;
}

table {
  border-spacing: 0;
  width: 100%;
  color: var(--statistics-text);
}

thead tr {
  background-color: var(--statistics-header-background);
}

th {
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  font-family: "Lato";
  text-align: left;
  padding-left: 2em;
}

tbody td {
  padding: 1em;
}

th, td {
  border-bottom: thin solid var(--statistics-score-table-border);
}

td {
  font-size: 16px;
  line-height: 25px;
  font-family: "Lato";
}

td:first-child {
  text-align: right;
  font-weight: bold;
}

td:last-child {
  padding-right: 1em;
  text-align: right;
}

span:last-child {
  margin-left: 0.2em;
  font-weight: bold;
}