<table *ngFor="let lvl of ['A', 'AA', 'AAA']" [hidden]="getPractices(lvl).length === 0">
  <thead>
    <tr>
      <th *ngIf="type === 'good'" colspan="3">{{ "WEBSITE.top_3_best_practices.message" | translate:{ value: lvl } }}</th>
      <th *ngIf="type === 'bad'" colspan="3">{{ "WEBSITE.top_3_bad_practices.message" | translate:{ value: lvl } }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let practice of getPractices(lvl); let i = index;">
      <td fxFlex=5>{{ i + 1 }}.</td>
      <td fxFlex [innerHTML]="'RESULTS.' + practice.key | translate:{ value: practice.n_occurrences} | html"></td>
      <td fxFlex=15>
        <span *ngIf="type === 'good'">{{ "WEBSITE.top_3_best_practices.practice" | translate }}</span>
        <span *ngIf="type === 'bad'">{{ "WEBSITE.top_3_bad_practices.practice" | translate }}</span>
        <span *ngIf="practice.n_pages > 1">{{ practice.n_pages }} {{ "WEBSITE.top_3_best_practices.pages" | translate }}</span>
        <span *ngIf="practice.n_pages === 1">{{ practice.n_pages }} {{ "WEBSITE.top_3_best_practices.page" | translate }}</span>
      </td>
    </tr>
  </tbody>
</table>